.ant-upload.ant-upload-select-picture-card{
    width:100%;
    height: 200px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {

    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;

}
.allblogimg{
    width:100%;
    height: 180px;
}
.viewblogimg{
    width:100%;
    display: block;
}
.createblogimg{
    width:100%;
    height: 250px;
}
.cardBlock{
    padding: 15px;
}
.viewblgRte{
    margin-top: 50px !important;
}
.viewblgcnt{
    margin-bottom: 10px;
}
.blogTitle {
    position: absolute;
    margin-top: -59px;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #212066;
    min-height: 60px;
    color: #fff;
    vertical-align: middle;
    font-size: 16px;
    width: 100%;
}
.ant-card-meta-detail{
margin-top:5px;
}
.ant-card-meta-title{
    font-size: 13px;
}
.blogMetaDetails{
    margin: 15px auto;
}
/*.ant-modal-body .RichTextEditor__root___2QXK-{
    font-family: 'Lato', sans-serif !important;
    border:none !important;
}*/
.public-DraftStyleDefault-ltr{
    text-align: justify !important;
}
.ImageSpan__root___RoAqL{
    width:100% !important;
}
.bloginfo p {
    font-size: 12px;
    margin: 0px;
}

.Blogviewscroll{
padding-right:20px;
}

.CreateBlogTypeFan{
    background-color:#FFFFFF;
    border:1px solid #e5e5e5;
    margin: 0px 0px 30px 12px;
    width: 98.1%;
    display:table;
    padding-bottom:20px;
}