.but{
    /*
    background: #783293;
    color:#ffffff !important;
     border-color: #783293 !important;
    height: auto !important;
    
    font-size: 13px;*/

    display: inline-block;
    margin: 5px;
    border:1px solid #f0f0f0;
    border-radius:5px;
   padding: 8px 12px !important;
  
}
/*.but:hover, .but:active,.but:focus{
   
    color:#783293 !important;
}*/



.but:hover{
        border:1px solid #f0f0f0;
}
  .but.green {
    color: #783293;
    border: 1px solid #783293;
  
  }

  

/*.but:visited {
  background: green
}*/

.but3{
    margin-left: -10px !important;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: -5px;
    width: 100px;
    height: 35px;
    border: none;
}
.datee{
    padding-left: 120px;
    padding-bottom:300px;
}
.loaddata{
    margin-top: 150px;
    margin-left: 500px;
    font-size: 50px;
    color: dodgerblue;
}
.allblogVideo {
    width: 100% !important;
    height: 185px !important;
}
/*.hover01 .allblogVideo {
        -webkit-transform: scale(1) !important;
        transform: scale(1)!important;
        -webkit-transition: .9s ease-in-out!important;
        transition: .9s ease-in-out!important;
    }
.hover01 .allblogVideo:hover {
        -webkit-transform: scale(1.1)!important;
        transform: scale(1.1)!important;
    }*/
.anticon.anticon-camera-o {
    position: absolute;
    text-align: center;
    top: 75px;
    font-size: 30px;
    color: #fff;
    background-color: #000;
    opacity: 0.5;
    padding: 2px 12px 6px 10px;
    border-radius: 7px;
    left: 43%;
}
.anticon.anticon-camera-o:hover {
    background-color: #783293;
    opacity: 2.0;
}


.ant-upload.ant-upload-select-picture-card{
    width:100%;
    height: 200px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {

    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;

}
.Error{
    color:red;
}
.allblogimg{
    width:100%;
    height: 136px;
}
.viewblogimg{
    width:100%;
    display: block;
}
.createblogimg{
    width:100%;
    height: 250px;
}
/*.cardBlock{
    padding: 15px;
}*/
.viewblgRte{
    margin-top: 50px !important;
}
.viewblgcnt{
    margin-bottom: 10px;
}
.Boximage{
    width:100% ;
    max-width:400px;
    height:160px;
}
.image{
    cursor:pointer
}
.aName{
    float: left;
    margin-top: 9px;
    margin-left: -5px;
}
.aName1{
    float: left;
    margin-top: 15px;
    padding: 5px;
}
/*.hover01 figure img {
        -webkit-transform: scale(1) !important;
        transform: scale(1)!important;
        -webkit-transition: .9s ease-in-out!important;
        transition: .9s ease-in-out!important;
    }
.hover01 figure:hover img {
        -webkit-transform: scale(1.1)!important;
        transform: scale(1.1)!important;
    }*/
.challengesmaincardImage{
    border-bottom:1px solid #eee;
}
.blogTitle1 {
 font-size: 1.4em;
 /* white-space: nowrap; */
 overflow: hidden;
 -o-text-overflow: ellipsis;
 text-overflow: ellipsis;
font-weight: 500;
margin: 12px 0px;
color: #000000;
height: 41px;
line-height: 22px;
padding:0px 15px;
}
.blogTitle2 {
  font-size: 1.4em;
  /* white-space: nowrap; */
 overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
font-weight: 500;
 margin: 12px 0px;
color: #000000;
height: 41px;
line-height: 22px;
padding:0px 15px;
}
.ant-card-meta-detail{
margin-top:5px;
}
.ant-card-meta-title{
    font-size: 13px;
}
.blogMetaDetails{
    margin: 15px auto;
}
/*.ant-modal-body .RichTextEditor__root___2QXK-{
    font-family: 'Lato', sans-serif !important;
    border:none !important;
}*/
.public-DraftStyleDefault-ltr{
    text-align: justify !important;
}
.ImageSpan__root___RoAqL{
    width:100% !important;
}
.bloginfo{
  margin-bottom: 12px;
}
.bloginfo p {
   font-size: 12px;
	  padding:0px 15px;
     font-weight: 400;
    color: rgba(49, 70, 88, 0.7);
}
.Mainpublishstatus{
color: #000000 !important; 
	}
.cardfooter{
    border-top: 1px solid #f0f0f0;
padding-bottom:8px;
	}	

.line{
    display: block;
    margin-top: 94px; 
}
.istatus{
    padding-left: 11px;
}
.iellipsis{
    font-size: 15px;
    margin-left: 25px;
    padding-left: 3px;
    color: rgba(49, 70, 88, 0.7);
    transform: rotate(270deg);
}
.iedit{
    font-size: 15px;
    padding-left: 40px; 
    color: rgba(49, 70, 88, 0.7);
}
.ieye{
    font-size: 15px;
    padding-left: 35px;
    color: rgba(49, 70, 88, 0.7);
}

.btns{
    display: inline-block;
    margin-top: 15px;
}
.drop {
    padding-bottom: 7px;
}
.pcolor{
    color: orange;
}
.blogchallengesmenu{
    padding: 20px 13px 20px 13px;
}
.item challengenav{
    padding-right: 100px;
}



.divbox {
    display: block;
    width: 88px;
    border:1px solid #f0f0f0;
    height: 100px;
    border-radius:5px;
   
  }
  .divbox.green {
    border: 1px solid #783293;
  
  }
     @media (min-width:1200px) and (max-width:1365px){

.iedit{
    padding-left:40px;
}
.ieye{
padding-left:20px;
}
.iellipsis{
margin-left:20px;
}

     }
   @media (min-width:1024px) and (max-width:1199px){
.iedit{
    padding-left:24px;
}
.ieye{
padding-left:11px;
}
.iellipsis{
margin-left:5px;
}
.Blogpagesheaders  .fanclubnavigation,.Blogpagesheaders .item{
padding:0px !important;
margin-top: 20px;
}
.blogTitle2 {
white-space: nowrap;
 overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
}
.blogTitle1 {
    font-size: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
   }