.slidecontainer{
    width:710px;
}

.btBox{
    margin-top: 50px;
}
.sImg{
    margin-top: -18px;
    margin-left: -1px;
}
.sIcon{
    margin-top: 70px;
}
.sIcon{
    margin-left: 20px;
}
.btns{
    display: inline-block;
    margin-top: 10px;
}
.bBox{
    margin-top: -70px;
    margin-bottom: 10px;
}
.asBut{
    padding-top: 30px;
    padding-bottom: 30px;
}
.suballowesinblog20 .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
    overflow: auto;
    width: 673px !important;
}
.EditBlogSelect1{
    margin-right:10%;
}

  @media (min-width:1200px) and (max-width:1365px){
.EditBlogSelect1{
    margin-right:6%;
}
  }
  @media (min-width:1024px) and (max-width:1199px){
.CreateBlogTypeFan{
    width:97.3%;
}
  }