@import '../css/common/colors.css';
@import '../css/common/typography.css';
.cardBody{
    padding: 15px;
}
.challengeCard{
    border:1px solid #ccc;
}
.list-inline{
    padding-left: 0;
margin-left: -5px;
list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}
.cardFooter{
    border-top: 1px solid #f0f0f0;
    padding: 10px 15px;
}


.challengesmenu{
    padding: 20px 13px;
}
.floatRight{
    float: right;
}
.copyRight{
    padding: 12px !important;
}
.challengesnavigation {
  padding: 0 28px;
}


.anticon-eye-o {
    padding-left:0px !important;
}
.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
.ant-upload-select-picture-card {
width:300px;
height: 300px;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.antColLg-8{
    width:33%;
}
.antColLg-12{
    width:50%;
}
.antColLg-4{
    width:16%;
}
.blue{
    color: #783293 !important;
}
.castImg{
    width:20px;
}
.h6Font{
    font-size: 13px !important;
    margin: 5px auto !important;
}
.cardContent{
    padding: 0px 15px;
}

.cardContentqus{
    padding: 0px 15px;
    border: 1px solid #666;
    height: auto;

}
.clear{
    clear: both;
}
/*.ant-modal-body{
    height: 500px !important;
   /* overflow-y: scroll !important;
}
*/



.SubMenu {
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 10px 0px;
    height: 70px;
        border: 1px solid #e5e5e5;
}


.mrgLeft30{
    margin-left:30px;
}

.ant-card-bordered{
    margin:0px 13px 26px;
    border: 1px solid #e5e5e5;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}
#pagenumberLi li{
    /* background-color: #783293; */
    padding: 5px 10px !important;
    color:#783293;
    margin: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}
#pagenumberLiFun2win{
    text-align:center;
    padding-bottom:50px;
}
#pagenumberLi li:hover, .activeLi{
    background-color: #783293 !important;
    padding: 5px 10px !important;
    color:#fff !important;
    margin: 3px;
    border: 1px solid #783293 !important;
}
.fun2winicons{
    color:rgba(49, 70, 88, 0.7);
}
.fun2winicons li{
font-size: 15px;
width: 33%;
padding-bottom:15px !important;
margin-top: 6px;

}
.fun2winicons li:nth-child(2){
    text-align: center;
}
.fun2winicons li:nth-child(3){
    text-align: right;
}
.cardContentDetails {
    margin: 12px auto;
}
.fun2winicons i {
    margin-right: 6px;
}
.fun2winiconsR li{
font-size: 15px;
width:25%;
padding-bottom:15px !important;

}
.ant-select-selection{
    border-radius: 0px;
}
.fun2winSelect .ant-select-selection__rendered{
    line-height: 30px;
}
.fun2winSelect .ant-select-selection--single {
    height: 32px;
}
.fun2winId{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
#subcat{
    display: none;
}
.margnBtm20{
    margin-bottom: 20px;
}

.funSpin{
   
        text-align: center;
        background: rgba(0,0,0,0.05);
        border-radius: 4px;
        margin-top: 10%;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
   
}
.deleteFun2win .ant-modal-content{
    height : 150px !important;
    width:330px !important;
    
}
.margnLeft20{
    margin-left: 20px;
}
.runningmodal .ant-modal-content{
    width: 176% !important;
    margin-left:-150px;
}
.rfunwinimg img{
    height:190px;
    width:100%;
    padding: 2% 5%;
}
.imageImg img{
border: 1px solid #ebedf8;
margin-top:10px;
}
.fun2winviewImg img{
     border: 1px solid #ebedf8;
    height:190px;
    width:100%;
}
.UpgrademodalHeight.analyticsModal .ant-modal-body {
    height: 250px !important;
}
.fun2winAnalytics {
    margin: 8% 0% 8% 8%;
    border: 1px solid #ebedf8;
    padding: 0 5%;
}
.fun2winAnalyticsDivh2 h2{
    padding: 0px;
}
.fun2winAnalyticsDivh2{
    padding: 10px 0px;
    border-bottom: 1px solid #ebedf8;
}
.fun2winAnalyticsDiv{
    padding: 15px 0px;
    border-bottom: 1px solid #ebedf8;
}
.fun2winAnalyticslikes{
    padding: 15px 0px;
}
.fun2winAnalyticsDiv li, .fun2winAnalyticslikes li{
    width:50%;
}
.fun2winAnalyticslikes span{
    margin: 5px;
}
.grdiansImg{
    padding-left: 28px;
}
.grdiansImg img {
    padding: 0px 5px;
    
}
.fun2winpolloptions img,.fun2wingridoptions img,.fun2winCombinationoptions img{
    border: 1px solid #ebedf8;
}
.combinationImg Img {
    padding-left: 28px;
}
.postAnalytics {
    margin: 8% 5%;
    border: 1px solid #ebedf8;
    padding: 0 5%;
}
.postAnalyticsDivh2 h2{
    padding: 0px;
}
.postAnalyticsDivh2{
    padding: 10px 0px;
    border-bottom: 1px solid #ebedf8;
}
.postAnalyticsDiv{
    padding: 15px 0px;
    border-bottom: 1px solid #ebedf8;
}
.postAnalyticslikes{
    padding: 15px 0px;
}
.postAnalyticsDiv li, .postAnalyticslikes li{
    width:50%;
}
.postAnalyticslikes span{
    margin: 5px;
}
.imgse img{
    margin:5px !important;
}
.rheader{
    background-color:#f2f0ed;
   
    margin-top:17px;
    margin-bottom:15px;
    padding:8px;
    
}
.rheader h2{
   font-size:12px;
    padding:5px;
}
.totalcounts p{
    color:#783293;
    font-weight:600;
}
.rfunwinimg{
    padding-top:11px;
}
.funwinfanc{
    padding:10px;
    font-weight:600;
}
.funccounted{
    color:#783293;
    font-weight:600;
    font-size:12px;
    padding-top:9px;
}
.funiconsr{
    font-size:15px;
    padding-top: 8px;
}
.funtopercent h4{
    font-weight:600;
    font-size:11px;
    padding-top:8px;
}
.funtowinqu{
    font-weight:600;
    color:#1a173b;
}
.listoffun{
    border:1px solid #ebedf8;
    padding:9px;
    padding-right:19px;
   
}
.listoffuns1{
    border:1px solid #ebedf8;
    border-left:0px;
    padding:9px;
    padding-right:19px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.listoffuns{
    border:1px solid #ebedf8;
    padding:9px;
    padding-right:19px;
   
}
.funtopostsA h4{
    font-size:12px;
    font-weight:600;
     padding-top:8px;

}
.mulques{
    padding-top:9px;
}

figure {	
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden !important;
}
/*.hover01 figure img {
	-webkit-transform: scale(1) !important;
	transform: scale(1)!important;
	-webkit-transition: .9s ease-in-out!important;
	transition: .9s ease-in-out!important;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.1)!important;
	transform: scale(1.1)!important;
}*/
.runningmodal .ant-modal-title{
    font-size:14px;
    padding:5px;
    font-weight:400;
    color:#1a173b;
    margin-left:26px;
}
.funwinfanc{
    font-size:12px;
   

}
.modalFootersh{
    border-top: 1px solid #ccc;
    padding: 10px 20px 0;
    margin: 0px -13px 0px -16px;
}
.textRightr{
    text-align: right;
}
.runningmodal .challengeDetails{
    margin-right:20px;
}
.footbtn{
    
}
.cardContentDetails li {
    /* margin: 6px auto; */
}

.HookPopUp{
    margin-bottom: 20px !important;
}



.ant-pagination-disabled .ant-pagination-prev activeLi{
    margin-top: -5px !important;
    background-color: #fff !important;
}
.ant-pagination-item-link{
    margin-top: -5px !important;
    background: #fff !important;
    border: 0px !important;

}

.fun2WinCombinationanswer li{
     margin-top: 3% ;
}
/*.fun2WinGridanswer li{
    margin-top:18%;
}*/
.fun2WinGridanswer p ,.fun2WinCombinationanswer p{
    text-align:center;
}

.funtowingridAnswr ,.fun2winMultiplAnswers{
     margin: 5px auto;
}
.fun2wingridoptions{
      padding: 5px;
}
.fun2Winpollquestions li, .fun2winCombinationQuestions li, .fun2Wingridquestions li , .fun2winMultiplequestions li , .fun2winimagequestions li{
  margin: 5px auto;
}
.fun2winpolloptions , .fun2winCombinationoptions{
  padding: 5px;
}
fun2winCombinationAnswr{
    margin:5px auto;
     padding-left:28px;
}
.fun2winMultipleanswr{
margin-top:15%;
 padding-left:28px;
}
.fun2winmulans{
    border:1px solid #ebedf8;
  text-align: center;
  padding: 5px;
}

.funqimages{
padding-left:20px;
}
.funqimages ul{
 margin:5px auto;
}
.fun2winImageanswr{
margin-top: 23%;
 padding-left: 28px; 
}
.fun2winmfancoinsandCreatedDate{
padding-top:15px;
}
.fun2winmfancoinsandCreatedDatesub{
    border:1px solid #ebedf8;
}
.fun2winmfancoins{
 padding:5px;
}
.fun2winmCreateddate{
 padding:5px;
}

.fun2winmainfoot{
    color:red;
}
.fun2winSelectcategry4{
   
     margin-top:11px;
}
.fun2winSelectcategry1{
    margin-left:20px;
     margin-top:11px;
}
.fun2winSelectcategry2{
    margin-left:20px;
    margin-top:11px;
}
.fun2winNavigations .item{
    padding:19px 8px;
}
.fun2winNavigations{
    float:right !important;
}
.fun2winmainheader{
    float:right;
}
.fun2WinMainCardImages{
    border-bottom:1px solid #eee;
}
/*.fun2WinMainCardImages{
     padding:7px 10px 10px 10px;
}*/
.ant-input-number-input:hover, .ant-input-number-input:focused, .ant-input-number-input:active, .ant-input-number:hover, .ant-input-number-focused{
    border-color: #783293 !important;
    box-shadow: none !important;
 }
 .cardFooter .ant-dropdown-menu-item > a,  .cardFooter .ant-dropdown-menu-submenu-title > a{
     padding: 6px 8px !important;
 }
 .ant-input-number-focused{
    border-color: #783293 !important;
    box-shadow: none !important;
 }
 .fun2winResched .ant-modal-body{  
    height:315px !important; 
    }

.listoffuns1img{
      border:1px solid #ebedf8;
    
    padding:9px;
    padding-right:19px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.GridQuestionNamemain{
     padding:9px;
    padding-right:19px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.runningmodal title{
    padding-left:30px;
}
.fun2winSubMenu{
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 10px 0px;
    height: 70px;
    border: 1px solid #e5e5e5;
}
.hookpostFnt{
    font-size:13px;
    color:grey;
    padding-bottom:10px;
}
.Hook-uploadImage{
    padding-bottom:15px;
}
.HookPreviewCard{
    margin:0 0 20px 0 !important;
}
.HookpreviewText{
    padding:10px;
}
.CreateHookAdd{
    
    margin-bottom: 20px;
}
.CrreateHook{
    padding-right:15px;
}
.FuntwinHookfootbtn{
    margin-right:23px;
}
@media (min-width: 1400px) and (max-width: 1600px){
.fun2winNavigations .item {
    padding: 19px 17px;
}
.submenu{
    padding:5px 20px;
}
}


@media (min-width: 1024px) and (max-width: 1200px){
.fun2winSelectcategry1{
margin-left:10px;
}
.fun2winSelectcategry2{
margin-left:10px;
}
.contestCardTitle {
    font-size: 1.2em;
}
.pageTitle {
    font-size: 14px;
}
.fun2winNavigations .item{
    padding:0px;
padding-top:20px;
padding-right:8px;
}
}