
@import '~antd/dist/antd.css';


.App {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  #Table {
    width: 50%;  
  margin-left:auto; 
  margin-right:auto;

  }
  
  #Table table {
    width: 100%;
    border: 0px solid #ccc;
    color:rgb(0, 0, 0);
    margin: 10px 0px 10px 0px;
    empty-cells:show;
    text-align:center;
    border-collapse: separate;
    border-spacing: 1px;
     
  }

  #Table th {
    border: 0px;
  }

  /* #Table td.button1 {
    border: 0px;
    text-align: left;
  }
   */
   
  #Table td{
      border: 1px solid rgb(150, 148, 142);
      padding-top: 1px;
      padding-bottom: 0px;
  }
  


  #Form label {
      display: block;
      margin: 15px 0;
  }
  
  #Form input {
    margin-left: 10px;
  }
  
  #Form button {
    width: 100px;
    padding: 15px 0;
    border: none;
    margin: 25px 0;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(-10000deg); }
    to { transform: rotate(360deg); }
  }

  .App-logo {
    float: right;
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    left: -5px;
    top: 3px;
    position: absolute;
  }
  
  .App-header {
    background-color: #222;
    height: 85px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 3em;
    left: 40%;
    top:15px;
    color: white;
    position: absolute;
  
  }
