@import '../css/common/colors.css';
@import '../css/common/typography.css';
body{
    color: #1a173b;
}
.cardBody{
    padding: 15px;
}
.challengeCard{
    border:1px solid #ccc;
}
.list-inline{
    padding-left: 0;
margin-left: -5px;
list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}
.cardFooter{
    border-top: 1px solid #f0f0f0;
    padding: 10px 15px;
}
.createBtnchalleng{
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    font-size: 13px;
  
}

.createBtn .ant-btn{
  border:none !important;  
}

.challengesmenu{
    padding: 20px 13px 0px 13px !important;
}
.chlngssecondsubmenu{
  padding:0px 13px 20px 13px;   
}
.viewMore i{
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 18px;
    color:#783293;
    margin-right: -10px;
}
.floatRight{
    float: right;
}
.copyRight{
    padding: 12px !important;
}
.challengesnavigation {
  padding: 0 28px;
}
a, a:active, a:hover{
    text-decoration: none !important;
}
.challengesnavigation12,.challengesnavigation12  .item {
  display: inline-block;
  text-decoration: none;
  padding: 9px 0px 8px 16px !important;
  color: var(--colorBlack);
  text-decoration: none !important;
  font-size: 13px;
}

.logo {
  font-size: var(--fontHuge);
}
b{
    font-weight: 500;
}
.active {
  color: var(--colorDodgerBlue);
  font-weight: 600 !important;
}
.ant-upload-select-picture-card {
width:300px;
height: 300px;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.antColLg-14{
    width:30%;
}
.antColLg-12{
    width:50%;
}
.antColLg-4{
    width:16%;
}

.antColLg-55{
    width:55.5%;
}


.mrgLeft12{
    margin-left:12px;
}

.mrgnLeft15{
    margin-left:15px;
}

.mrgRight15{
    margin-right: 15px;
}
.ChallengesKarokeDemo2{
    padding-top:18px;
}
.circleImg{
    border-radius: 50% !important;
}

.blue{
    color: #783293 !important;
}
.castImg{
    width:20px;
}
.h6Fnt{
    font-size: 11.4px !important;
    /*margin: 5px auto !important;*/
    font-weight:700;
    color:#717171;
    padding-bottom:7px;
}

.img-responsive{
    display: block;
max-width: 100%;
height: auto;
}
.placeholderImages img{
    width:100% !important;
}
.placeholderImages .ant-col-6{
    padding:7px 15px 8px 0px;
}
.mrgnBtm4{
margin-bottom: 4px !important;
}
.modalFooter{
    border-top: 1px solid #ccc;
    padding: 10px 20px 0;
    margin: 0px -13px 0px -16px;
}
.textRight{
    text-align: right;
}
.ant-modal-mask{
    background-color: #333a4fcc;
}

.rhtTxt{
    color: #783293 !important;
    float:right !important;
   
}

.mainsCastChalleng{
    padding-left:20px;
}
.CreateChallengsRich .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
    overflow: auto;
    width: 738px !important;
}
/*.Terms .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
padding:0px !important;
}*/
.Terms .public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
    margin-left: 15px !important;;
}
.Terms .RichTextEditor__editor___1QqIU .RichTextEditor__paragraph___3NTf9{
    margin:0px !important;
}
.RichTextEditor__root___2QXK-{
    border-radius: 0px !important;
}
.boldFont{
font-weight:700;
}

.boldFontPrvw{
    font-weight:700;
    margin:10px 0;
}

.MoviePrvmodalHeight .ant-modal-content{
    width:700px !important;
}

.marginTop20{
    margin-top:20px;
}


.mrgTop2{
    margin-top:2px;
}

.audioBLOCK
{

    margin: 10px 0;
    width: 67%;
}

.mrgnTop25{
    margin-top:25px;
}



.mrgLeft10 .ant-modal-body{
    margin-left:10px !important;
    height:184px !important;
}

.mrgn16{
    margin:9px 0 !important;
}

.okBtn{
    float:right;
    border-color: #783293 !important;
    background-color: #783293 !important;
    width:50px;
    color:#fff !important;
   
}
.Cimagesviewdetails{
 margin-right:25px;
}
.challengebanimage1 img{
margin-left: 5px;
}
.challengebanimage1 h3{
padding-left:10px;
}
/*.ant-modal-title{
    margin-left:10px !important;
}*/
.Cimagesviewdetails img{
 border: 1px solid #eee; 
}
.challengebanimage2 h3{
padding-left:10px;
}
.challengebanimage2 img{
 margin-left:10px;
}
.boldNormal{
    font-weight:600;
    color:#1a173b;
}

.mrgnTop10{
    margin-top:10px;
}

.LiRgt{
       float:right !important; 
}

/*.cardContent{
    padding: 0px 15px;
}*/
.clear{
    clear: both;
}
.ant-card-bordered{
    margin:0px 13px 26px;
    border: 1px solid #e5e5e5;
}
.ant-card-body {
    padding: 0px;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
   }
   .errors{
    
        color: red;
        font-size: 12px;
        margin-top: 0px;
      
   }
  /* .ant-modal-body{
    height: 600px !important;
    overflow-y: scroll !important;*/
     /* width: 822px !important;
}*/
#pagenumberLi {
    text-align: center;
        margin-bottom:50px;
}
#pagenumberLi li{
    /* background-color: #783293; */
    padding: 0px 10px !important;
    color:#783293;
    margin: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}
#pagenumberLi li:hover, .activeli{
    background-color: #783293 !important;
    padding: 0px 10px !important;
    color:#fff !important;
    margin: 3px;
    border: 1px solid #783293 !important;
}
.ant-calendar-picker .anticon-cross-circle{
    display :none !important;
}
.ant-time-picker-panel-input-wrap .ant-time-picker-panel-clear-btn:after{
    display :none !important;
}
.ant-time-picker-panel-input-wrap .ant-time-picker-panel-clear-btn{
    display :none !important;

}

.colorBlack{
    color: #000000;
    font-size:10px;
}


.contestCardTitle{
    font-size: 1.4em;
    /* white-space: nowrap; */
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 6px 0px;
    color: #000000;
    height: 42px;
    line-height: 22px;

}

.example{
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-top: 10%;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.ccelebrityImg{
    width: 55px;
    height:55px;
    border-radius: 100%;
    border: 1px solid #e4e4e4;
    margin-top:5px;
    margin-bottom:5px;
}

.mrgnBottom20{
    margin-bottom: 20px;
}


.ant-calendar-picker-clear, .ant-calendar-picker-icon{
    top: 39%;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header{
    margin-bottom:12px;
    padding: 18px 0 8px 32px;
    font-size: 12px;
    font-weight:700;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
    line-height:59px;
}

.antCol-27{
    width:74%;
}

.antCol-6{
    width:25%;
}
.antCol-3{
    width:12.5%;
}
.antCol-4{
    width:16.66666667%;
}
.antCol-8{
    width:33.33333333%;
}
.antCol-10{
    width:41.66666667%;
}
.antCol-12{
    width:50%;
}
.antCol-16{
    width:66.66666667%;
}
.antCol-18{
    width:75%;
}
.antCol-24{
    width:100%;
}
.ant-form-item > .ant-form-item:last-child, .ant-form-item :not(.ant-form) > .ant-form-item{
    margin-bottom: 12px !important;
}
.celImage .ant-upload-list{
    display: none !important;
}
/*.Demo__search-input{
    width:300px;
}*/

.uploader140 .avatar-uploader > .ant-upload {
  width: 140px !important;
  height: 140px !important;
}

/*.uploaderchlng .avatar-uploader > .ant-upload {
  width: 320px !important;
  height: 170px !important;
}*/



.avatar-uploader > .ant-upload {
  width: 140px !important;
  height: 140px !important;
}


/*.uploaderchlng .avatar-uploader, .avatar-uploader-trigger, .avatar{
      width: 320px !important;
  height: 170px !important; 
}*/

.ant-collapse-content > .ant-collapse-content-box{
    padding-top:0 !important;
    padding-bottom:20px !important;
}


.uploaderchlng .ant-upload.ant-upload-select{
   width: 320px !important;
  height: 170px !important;
  margin-right:20px;
}
.uploaderchlng .avatar-uploader-trigger{
    width: 320px !important;
  height: 170px !important;
  margin-right:20px;
}


.uploadimg170{
     width: 170px !important;
  height: 170px !important; 
  margin-right:20px; 
}

.uploadimg170 .avatar-uploader-trigger{
      width: 170px !important;
  height: 170px !important;  
}

.uploadimg170 .ant-upload.ant-upload-select{
      width: 170px !important;
  height: 170px !important;  
}

/*.uploadimg170 .avatar-uploader, .avatar-uploader-trigger, .avatar{
          width: 170px !important;
  height: 170px !important;  
}*/
.challwenges{
    margin-right:39px;
}

.uploaderchlng{
   width: 320px !important;
  height: 170px !important;
  margin-right:20px;
}

.mrgnBtm20{
margin-bottom: 20px;
}

.mrgnLeft15{
    margin-left: 15px;
}

input:focus{
    outline: none !important;
    /*border: 1px solid #E87722 !important;*/
    background-color:#ffffff !important;
}


.modalHeight200 .ant-modal-body {
    height: 200px !important;
}

.modalHeight170 .ant-modal-body {
    height: 170px !important; 
}


.modalHeight350 .ant-modal-body {
    height: 250px !important;
}

.marginTop20{
    margin-top:20px;
}

.marginLeft20{
    margin-left:20px;
}
.aboutMoviedata .ant-upload-list {
    overflow: hidden;
    display: none;
}
.smallUploader .avatar-uploader{
    width:80px;
    height:80px;
}


/* Date picker */

   

.ant-calendar-date{
padding:2px !important;
}

 .ant-calendar-today {
background-color: #fff !important;
color:#333 !important;
padding:0 !important;
border:none !important;
}

.ant-calendar-today .ant-calendar-date{
border:none !important;
    
}

 .ant-calendar-today:hover{
background-color: #fff !important;
color:#333 !important;
padding:0 !important;
border:none !important;
}


 .ant-calendar-selected-day .ant-calendar-date{
background-color: transparent !important;
color:#333 !important;
padding:0 !important;
border:none !important;
 }
/* end of Date picker */



/* end of Date picker */

 .ant-calendar-today {
background-color: #fff !important;
color:#333 !important;
padding:0 !important;
border:none !important;
}

.ant-calendar-date:hover{
background-color: #fff !important;
color:#333 !important;
padding:0 !important;
border:none !important;
}

.ant-calendar-date:active{
background-color: #fff !important;
color:#333 !important;
padding:0 !important;
border:none !important;
}

.ant-calendar-date{
color:#333 !important;
padding:2px !important;
}


 .ant-calendar-selected-day .ant-calendar-date{
background-color: transparent !important;
color:#a1a1a1 !important;
padding:0 !important;
border:none !important;
 }

.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date::before{
    border:none !important;
}


.ant-calendar-disabled-cell .ant-calendar-date{
 background-color: transparent !important;
    border:none !important;
    color:#a1a1a1 !important;
}


/*.ant-calendar-disabled-cell .ant-calendar-date{
  background-color: transparent !important;  
  color:#a1a1a1 !important;
  border:none !important;
}*/


/* end of Date picker */




.Boximage{
    width:100% ;
    max-width:400px;
    height:160px;
}

.mrgleft10{
    margin-left:10px;
}

.mrgnIconleft10{
    color:#186af5;
    margin-left:10px;
}

.mrgn15{
    margin-top:15px;
    margin-left:15px;
}


.ant-calendar-selected-day .ant-calendar-date {
    background:#186af5 !important;
    color:white !important; 
    border: 1px solid transparent;
}



.ant-modal-title {
    font-weight: 600;
    color: #1a173b;
    margin-left: 20px;
}
h1, h2, h3, h4, h5, h6 {
    color: #1a173b;
}



.mrgnTop15{
    margin-top:15px;
}

h6 .anticon-exclamation-circle-o{
color:#717171;
font-size:12px;
}

.mrgnTop20{
    margin-top:28px !important;
}


.margnBottom20{
    margin-bottom: 20px;
}
.anticon-paper-clip{
    display: none;
}
.karokes li{
    display:block;
}
.ContestDuration{
 padding-top: 10px;
}
.cdurationfh{
 border:1px solid #f0f0f0;
 margin-right: 10px;
  padding:10px;
}
/*.ContestDuration,.RunningDuration,.Queuedduration,.Closedduration {
    margin-top:20px;
}*/
.aboutMovie{
    padding-top:14px;
    padding-bottom:10px;
}
/*.crew,.cast{
    padding-top:20px;
    padding-bottom:20px;
}*/
.cdurations{
    margin-left:10px;
     border: 1px solid #f0f0f0;
      padding: 10px;
}
.cdurationf{
    margin-right:10px;
border: 1px solid #f0f0f0;
padding: 10px;
}
.challengesviewdetailsfancoins{
    padding-top:25px;
}
.challengesviewdetailsfancoins p{
border:1px solid #f0f0f0;
 padding:10px;
  width:100px;
}
.challengesCatchyCaptionp{
border:1px solid #f0f0f0;
padding:10px;
}
.challengesCoupons{
 border:1px solid #f0f0f0 ;
 padding: 10px;
  width:100px;
  height:100px;
}
.musicefilesChallenges{
    font-weight:600;
}
.players{
    padding-top:7px;
}
.challenegsLyrics1{
border:1px solid #f0f0f0;
 padding:10px;
}
.challenegsLyrics{
 border:1px solid #f0f0f0;
  padding:10px;
}
.chanllengesefileviewdetails{
    padding:5px;
    padding-left:0px;

}
.chanllengesefileviewdetails img{
    border:1px solid #ebedf8;
}
.challengesViewdetailsCtabtn{
 border:1px solid #f0f0f0;
  padding:10px;
}
.challengesViewSynopsis{
 border:1px solid #f0f0f0;
  padding:10px;
  word-break:break-all;
}
.challengesViewreleasedatep{
border:1px solid #f0f0f0; padding:10px;
}
.challengeDetails{
margin-left:20px;
 margin-right:20px;
}
.challnegemainimages{
padding-bottom:14px;
}
/*.dubsmashdetail ,.karokedetail{
    padding-top:30px;
    padding-bottom:30px;
}*/
.Terms h3{
    padding-top:10px;
    padding-bottom:20px;
}

.pdngBottom0{
    padding-bottom: 0 !important;
}

.offers{
    padding-top:10px;
    padding-bottom:20px;
    word-break:break-all;
}
.castDetails{
    padding-top:14px;
}
.castDetails p{
    font-size:12px;
}
.castDetails h4{
font-weight:600;
}
.crewDetails h4{
    font-weight:600;
    font-size:12px;
}
.crewDetails{
   padding-top:20px; 
   padding-left:5px;
}
.challengeDetails h2{
  padding-bottom:7px;
    font-size:14px;
    font-weight:600;
}
.challengeDetails h3{
    padding-bottom:7px;
    font-size:12px;
    font-weight:600;
}
.contestBelow{
 margin-left:20px;
  margin-right:20px;
}
.contestBelow h3{
    padding-bottom:7px;
    font-size:12px;
    font-weight:600;
}
.RunningBelow h3{
    padding-bottom:7px;
    font-size:12px;
    font-weight:600;
}
.CViewdetails{
    padding-top:14px;
}
.funSpin{
   
        text-align: center;
        background: rgba(0,0,0,0.05);
        border-radius: 4px;
        margin-top: 10%;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
   
}
.previewcrew,.previewcast{
    padding-top:10px;
}

/*::-webkit-scrollbar { 
    overflow-y: scroll !important; 
}*/

.WrdBrk{
    word-wrap:break-word;
}
.ChallengeViewdescription{
border: 1px solid #f0f0f0;
 padding: 10px;
}
.cframeupload{
    width: 150px !important;
    height: 150px !important;
        border: none !important;
}
.cframeupload img{
    width: 138px;
    height: 137px;
    margin-top: -20px;
}

.CchallengeFrame .anticon-plus{
    padding-top: 20px; 
}
.challengebanimage{
    padding-bottom:14px;
}
.shortSroll{
    height:50px !important;
}
.cscroll{
    height:50px;
}
.ant-modal-close-x {
    width: 32px !important;
}
.selfeCupload .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.selfeCupload .ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.cViewdetasilsd{
    padding-top:25px;
   
}
.cmodalB .ant-modal-body {
   top:20px;
    width: 820px !important;
}


.ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-title{
    color:#783293 !important;
}

.ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-head-inner {
    border-color: #783293;
    background-color: #783293;
}

.ant-steps .ant-steps-head-inner {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    border-radius: 26px;
    font-size: 12px;
    margin-right: 8px;

}

.ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner > .ant-steps-icon{
    color:#783293;
}

.ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner{
      border-color:#783293;
}

.ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-title{
    color:#783293;  
}





.stepsWidth{
    width:56%;
}


.ant-form-item-label label{
    font-size:11px !important;
    font-weight:700;
    color:#717171 !important;
}

.ant-input{
    color:#1a173b;
box-shadow:none !important;
margin-bottom: 10px;
}

.ant-input:hover, .ant-input:focus, .ant-input:active, .ant-input-number-input-wrap:hover, .ant-input-number-input-wrap:active, .ant-input-number-input-wrap:focus{
    border-color:#783293 !important;
}

.paddngMain{
    padding:0px 32px 15px;
}

.ant-btn-primary{
    background-color: #783293 !important;
    border-color:#783293 !important;
    color:#ffffff !important;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #783293;
  border-color: #783293 !important;
}

.Terms span{
    font-size:12px !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;

}

.ant-dropdown-menu-item:hover{
    background-color: #ececec;
}

.dashbrdBack{
    padding:15px 13px;
}

.blueIcon{
   color:#783293 !important; 
}


 .modalReschedl .ant-modal-body{

height:315px !important;

}

.UpgrademodalHeight .ant-modal-body{
height:375px !important;

}




.PlachldTxt .ant-input{
color:gray;
}


.PlachldTxt .ant-input:hover{
border-color:#e2e2e2 !important;
}

.suBTxt{
    color:gray;
    font-weight:normal !important;
}

.BlueClr{
    color:#783293 !important;
}

.paddngZero .anticon-eye-o{
    padding-left:0 !important;
    }


    figure {	
        margin: 0;
        padding: 0;
        background: #fff;
        overflow: hidden !important;
    }
    /*.hover01 figure img {
        -webkit-transform: scale(1) !important;
        transform: scale(1)!important;
        -webkit-transition: .9s ease-in-out!important;
        transition: .9s ease-in-out!important;
    }
    .hover01 figure:hover img {
        -webkit-transform: scale(1.1)!important;
        transform: scale(1.1)!important;
    }*/
    a{
    color:rgba(0, 0, 0, 0.65);
}
a:hover{
    color:rgba(0, 0, 0, 0.65);
}

.boldNorml{
    font-weight:600;
    color:#1a173b;
    margin-left:10px;
}

.mrgRight15{
    margin-right:10px;
}


.SearchantCol-16{
    width:18%;
}

.ant-tooltip-inner{
    font-size:11.3px;
}

.mrgnBottom10{
    margin-bottom: 10px;
}
.creactplay{
    border:1px solid #ccc !important;
    height:34px;
}
.chalngpageTitle{
   font-size: 15px;
color: #000 !important;
font-weight: 600 !important;
padding: 16px 0px 0px 0px;
}


.__react_component_tooltip.type-dark{
    color: #37547d  !important;
    background-color: #f5f5f5  !important;
}

.__react_component_tooltip{
    font-size:12px !important;
}

.__react_component_tooltip.type-dark.place-top::after {
    border-top: 6px solid #f5f5f5 !important;
}
.ant-dropdown-menu{
    border-radius: 0px;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 8px 12px;
}
.ant-dropdown-menu-item a:hover, .ant-dropdown-menu-item:hover{
    color:#783293;
}
.cardSubText{
margin-bottom: 12px;
 font-weight: 400;
  color: rgba(49, 70, 88, 0.7);

}


/* .challenges css */

.RghtAlign{
    float: right;
}

.mrgnRight8{
    margin-right: 8px;
}

.txtLeft{
    text-align: left;
}


/* use css to set position of modal */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}


.width78{
    width:78px
}



.CardFootercolor{
    
    color:#783293;
}


.ColorRed{
    color: red;
}


.paddngLeft15{
    padding-left:15px;
}

.mrgnRight25{
    margin-right: 25px;
}

.BorderEEE{
    border: 1px solid #eee;
    
}

.BorderEEEMrgLeft5{
       border: 1px solid #eee;
    margin-left:5px;

}

.BorderEEEMrgLeft10{
       border: 1px solid #eee;
    margin-left:10px;

}
.mrgnRLeft20{
    margin-left:20px;
    margin-right:20px;
}

.marginRight25{
    margin-right:25px;
}

.paddingLeft10{
    padding-left:10px;
}

.imgBorder{
    border: 1px solid #eee;
}

.imgBordeMrgLeft5{
     border:1px solid #eee;
      margin-left: 5px;
}

.imgBordeMrgLeft10{
border:1px solid #eee;
      margin-left: 10px;
}


.paddingTop10{
    padding-top:10px;
}

.Borderpadding10{
     border: 1px solid #f0f0f0;
      padding: 10px;
}

fanCoinsBorder{

 border: 1px solid #f0f0f0;
  padding: 10px; 
  width: 100px;

}
.paddingTop25{
    padding-top: 25px;
}

.padding10{
    padding:10px
}

.BorderPadding10{
    border: 1px solid #f0f0f0;
    padding: 10px;
}

.contestPnts{
     border: 1px solid #f0f0f0;
      padding: 10px;
       width: 100px;
}
.CViewdetailsPara{
    border: 1px solid #f0f0f0;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.CouponsPara{
        border: 1px solid #f0f0f0;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.FontBold{
    font-weight: bold;
}

.paddingTop7{
    padding-top:7px;
}

.Parapadding{
    padding: 10px 10px 10px 0px;
}
.mrgnLRight20{
    margin-left:20px;
    margin-right:20px;
}

.marginRight25{
    margin-right: 25px;
}

.BorderEEE{
    border: 1px solid #eee;
}

.RedTxtLeft{
    color: red;
    text-align: left;
}
#name , #name1{
    color:red!important;
}
#name3 , #name2{
    color:red !important;
}

.PlusICON80{
width: 80px;
height: 80px;
border: 1px solid #f0f0f0;
}

.padding10TXTCenter{
    text-align:center;
    padding: 10px 0px 15px 10px;
}

.mrgnRight8{
margin-right:8px;
}

.width200{
    width: 200px;
}

.txtCenter{
    text-align: center;
}

.ImgCenter{
    vertical-align:middle;
}

.txtpadding10 {
    padding: 10px 0px 15px 0px;
    text-align: center;
    margin: 0px 0px 0px -18px;
    float:right;
}
.EditChallengebackbtn {
    float: right;
}
.item:hover{
color:#773293;
}

.ColorOrange{
    color:orange;
}

.colorNearBlck{
    color: rgba(0, 0, 0, 0.65);
}
.paddingLeft15{
    padding-left: 15px;
}
.challengesmaincardImage{
    border-bottom:1px solid #eee;
}
/*.challengesmaincardImage{
 cursor:pointer;
 padding:8px 10px 10px 10px;
}*/
.image{
    cursor:pointer
}

.ant-steps .ant-steps-item.ant-steps-status-wait .ant-steps-tail > i {
    background-color: #fff;
}


.ant-steps .ant-steps-item.ant-steps-status-error .ant-steps-tail > i {
   background-color: #fff;
}

.ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-tail > i{
 background-color: #fff;
}


/*.hover02:hover{
	
	height: auto;
	-webkit-transition: .3s ease-in-out;
	    transform: scale(1.1)!important;
        transition: .9s ease-in-out!important;
}*/


.SubMenu {
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 10px -3px 10px 0px;
    height: 70px;
        border: 1px solid #e5e5e5;
}
.CreatechallengeSubMenu {
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 15px 0px;
    height: 70px;
        border: 1px solid #e5e5e5;
}

.EditchlngSubMenu {
    padding: 7px 20px;
    background-color: #ffffff;
    margin:14px 9px 10px 0px;
    height: 70px;
        border: 1px solid #e5e5e5;
}
.EditchlngSubMenuChallengesSteps{
       padding: 40px 40px 30px 25px;
    background-color: #ffffff;
    margin: 7px 12px 30px 12px;
    display:table;
    width:98%;
        border: 1px solid #e5e5e5;
    
}


.SubMenuChallengesSteps{
      padding: 40px 40px 30px 25px;
    background-color: #ffffff;
    margin: 10px 12px 30px 12px;
    display:table;
    width:98%;
        border: 1px solid #e5e5e5;
    
}



.ant-pagination-item-active:focus, .ant-pagination-item-active:hover{
        background-color: #773293;
    border-color: #773293;
     
}
.ant-pagination-item:focus, .ant-pagination-item:hover{
        border-color: #773293;
}
.ant-time-picker-input:hover{
    border-color: #773293;
    box-shadow:none;
}
.ant-time-picker-input:focus ,.ant-time-picker-input:disable ,.ant-time-picker-input:active {
    border-color: #773293;
    box-shadow:none;
}

.ant-btn-clicker{
    border: none !important;
}

.uploaderchlbanner {
    width: 325px !important;
    height: 175px !important;
}
.uploaderchlbanner img{
    width:320px !important;
    height:170px !important;
}
.CchallengeFrame{
    padding-top:20px;
}

.mrgLeft30{
    margin-left:30px;
}
.cmodalB .ant-modal-title{
margin-left:20px;
}
.createChallngBackBtn{
      background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    float:right;
    color:#fff;
    margin-top: -2px;
    font-size: 13px; 
}
.MessageCentcount1 {
    width: 23%;
}
.messagecentcountul{
      padding: 5px 5px 5px 16px !important;
}
.contestCardAuthor {
    font-size: 13px;
    padding: 10px 0px 6px 0px;
}
.messagecentcounticonh{
    color:rgba(49, 70, 88, 0.7);
}
.messageCentauthorn{
   color:rgba(49, 70, 88, 0.7); 
}
.particountimgmessge{
    width:16px;
    height:auto;
}
.partcicountmcimghead{
    padding-top:2px;
}
.Fancoinsmesacountm{
    padding:2px 0px 0px 0px !important;
} 
.challengessubnavcon {
    float: right;
}
@media (min-width: 1900px) and (max-width: 1920px){

.uploaderchlng {
    width: 430px !important;
    height: 230px !important;
}
.uploaderchlng img{
    width:425px !important;
    height:225px !important;
}
.uploaderchlng .ant-upload.ant-upload-select{
    width:425px !important;
    height:225px;
}
.uploaderchlng .avatar-uploader-trigger {
    width: 425px !important;
    height: 225px !important;
}
.uploaderchlbanner {
    width: 430px !important;
    height: 230px !important;
}
.uploaderchlbanner img{
    width:425px !important;
    height:225px !important;
}
.uploadimg170 {
    width: 223px !important;
    height: 223px !important;
    
}
.uploadimg170 img{
   width: 220px !important;
height: 220px !important;
}
.uploadimg170 .avatar-uploader-trigger {
    width: 224px !important;
    height: 223px !important;
}
.uploadimg170 .ant-upload.ant-upload-select{
width:229px !important;

}
.h6Fnt {
    padding-bottom:9px;
}
.challengesmenu{
    padding: 20px 13px 0px 13px !important;
}
.chlngssecondsubmenu{
  padding:0px 13px 20px 13px;   
}
}



@media (min-width: 1500px) and (max-width: 1600px){

.uploaderchlng {
    width: 430px !important;
    height: 230px !important;
}
.uploaderchlng img{
    width:425px !important;
    height:225px !important;
}
.uploaderchlng .ant-upload.ant-upload-select{
    width:425px !important;
    height:225px;
}
.uploaderchlng .avatar-uploader-trigger {
    width: 425px !important;
    height: 225px !important;
}
.uploaderchlbanner {
    width: 430px !important;
    height: 230px !important;
}
.uploaderchlbanner img{
    width:425px !important;
    height:225px !important;
}
.uploadimg170 {
    width: 223px !important;
    height: 223px !important;
    
}
.uploadimg170 img{
   width: 220px !important;
height: 220px !important;
}
.uploadimg170 .avatar-uploader-trigger {
    width: 224px !important;
    height: 223px !important;
}
.uploadimg170 .ant-upload.ant-upload-select{
width:229px !important;
}
.challengesmenu{
    padding: 20px 13px 0px 13px !important;
}
.chlngssecondsubmenu{
  padding:0px 13px 20px 13px;   
}
}
@media (min-width: 1366px) and (max-width: 1499px){
.uploaderchlbanner {
    width: 325px !important;
    height: 175px !important;
}
.uploaderchlbanner img{
    width:320px !important;
    height:170px !important;
}
.uploadimg170 {
    width: 165px !important;
    height: 174px !important;
    margin-right: 20px;
}
.uploadimg170 img{
   width: 163px !important;
height: 172px !important;
}
.challengesmenu{
    padding: 20px 13px 0px 13px !important;
}
.chlngssecondsubmenu{
  padding:0px 13px 20px 13px;   
}
}

@media (min-width: 1200px) and (max-width: 1365px){
.uploaderchlng {
    width: 271px !important;
    height: 136px !important;
}
.uploaderchlng img{
    width:269px !important;
    height:133px !important;
}

.uploaderchlng .avatar-uploader-trigger {
    width: 271px !important;
    height: 135px !important;
}
.uploadimg170 .avatar-uploader-trigger {
    width: 135px !important;
    height: 135px !important;
}
.uploadimg170 img{
   width: 133px !important;
height: 133px !important;
}
.uploadimg170 {
    width: 135px !important;
    height: 135px !important;
}



.uploaderchlbanner {
    width: 271px !important;
    height: 136px !important;
}
.uploaderchlbanner img{
    width:269px !important;
    height:133px !important;
}
.challwenges {
    margin-right: 0px;
}
.CreateChallengsRich .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
    overflow: auto;
    width: 650px !important;
}
/*.chalngpageTitle{
  display:none;  
}*/
.challengessubnavcon{
    float:right;
    width: 41.5%;
}
/*.challengessubconmenu {
    margin-left: -20%;
}*/
.challengesmenu{
    padding: 20px 13px 0px 13px !important;
}
.chlngssecondsubmenu{
  padding:0px 13px 20px 13px;   
}
.MessageCentcount1 {
    width: 22%;
}
}

@media (min-width: 1024px) and (max-width: 1199px){

.uploaderchlng {
    width: 233px !important;
    height: 136px !important;
}
.uploaderchlng img{
    width:230px !important;
    height:133px !important;
}

.uploaderchlng .avatar-uploader-trigger {
    width: 231px !important;
    height: 135px !important;
}
.uploadimg170 .avatar-uploader-trigger {
    width: 135px !important;
    height: 135px !important;
}
.uploadimg170 img{
   width: 133px !important;
height: 133px !important;
}
.uploadimg170 {
    width: 135px !important;
    height: 135px !important;
}



.uploaderchlbanner {
    width: 233px !important;
    height: 136px !important;
}
.uploaderchlbanner img{
    width:230px !important;
    height:133px !important;
}
.challwenges {
    margin-right: 0px;
}
.CreateChallengsRich .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
    overflow: auto;
    width: 530px !important;
}
/*.chalngpageTitle{
  display:none;  
}*/
.challengessubnavcon{
    float:right;
    width: 44.99%;
}
/*.challengessubconmenu {
    margin-left: -20%;
}*/
.challengesnavigation12, .challengesnavigation12 .item{
  padding: 9px 0px 8px 7px !important;  
}
.challengesmenu{
    padding: 20px 13px 0px 13px !important;
}
.chlngssecondsubmenu{
  padding:0px 13px 20px 13px;   
}
}