@font-face {
    font-family: 'Lato', sans-serif !important;
    src: url(./../css/fonts/Lato-Semibold.ttf);
    src: url(./../css/fonts/Lato-Semibold.eot);
    src: url(./../css/fonts/Lato-Semibold.woff);
    src: url(./../css/fonts/Lato-Semibold.woff2);
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif !important;
  }
.leftMenu{
    background-color: #fff !important;
    width: 66px !important;
    min-width: 66px !important;
    max-width: 66px !important;
    border-right: 1px solid #f0f0f0 !important;
}
.rightMenu{
    width: 56px !important;
    min-width: 56px !important;
    max-width: 56px !important;
    background-color: #fff !important;
   display: none !important;
}

.logo{
    background-color: #783293 !important;
    padding: 8px 8px 0px;
}
.closerightMenuViewIcon{
    position: absolute;
    font-size: 20px;
    color:#777;
    right:70px;
}
.ant-menu-inline-collapsed {
    width: 66px !important;
    height:600px;
    /*overflow-y: scroll;
    overflow-x:hidden;*/
  }
  .ant-menu-inline-collapsed > .ant-menu-item{
    padding: 0 20px !important;
  }
  .ant-menu-vertical .ant-menu-item{
      height: 55px !important;
      line-height: 55px !important;
      overflow: visible !important;
     
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    border-right: 2px solid #783293 !important;
    background-color: #fff !important;
}
.ant-menu.ant-menu-dark li:hover{
    /* background-color: #212635; */
    
}

.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a{
    padding:5px 16px;
}

.paddingNav a{
        padding: 9px 10px 0 10px !important;
}


li.ant-dropdown-menu-item:hover {
    background-color: #fff;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: rgba(255, 255, 255, 0.67);
    background: #fff;
}
.ant-layout{
    background-color: #fff !important;
}
.rightMenu .ant-menu-dark{
    background-color: #fff !important;
}
.rightMenu .ant-menu.ant-menu-dark li:hover{
    background-color: #f0f0f0 !important;
}
.rightMenu .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #f0f0f0;
}
.ant-menu-inline, .ant-menu-vertical {
    border-right: none;
}
#leftMenuView .ant-menu-item:active, .ant-menu-submenu-title:active {
    color: rgba(255, 255, 255, 0.67);
    /* background: #333a50 !important; */
}
.ant-menu-inline-collapsed > .ant-menu-item .anticon + span, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon + span, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span{
display: none;
}
.ant-menu-dark.ant-menu-vertical .ant-menu-item {
  
    margin: 10px 0px;
}
.ant-menu-dark.ant-menu-vertical{
    border-right: 1px solid #ebedf8 !important;
}
.MenuBg{
    /* background-color: #fff; */
}

/*.ant-menu.ant-menu-dark li:hover{


     background-color: #f1f1f4 !important;
}*/


.NavRight{
    float:right;
    padding-right: 9px;
}

.NavRight .ant-modal-body{
height:415px !important;
}

.menuNav{
     padding: 5px 10px 5px 10px;
     color: #333a50;
      cursor: pointer;
      text-align:center;
}


.menuNav p:hover{
background-color: #ececec;
}


/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.h6FontStyl {
    font-size: 13px !important;
    
    text-align: left;
}

 .modalEdit .ant-modal-body{

height:510px !important;

}

.SavBtnEditprofle{
    margin-left: 26px;
    margin-bottom: 10px;
    margin-top:10px;
}

.navLink{
    padding:0 20px;
    color:#555;
}



.ant-modal-body .modalPrflHght250{
padding:0 !important;
height:250px !important;
}

.ant-modal .scrollAlign{
top:20px !important;
position: relative;
}


.NavCalendarIcon{
    font-size: 23px;
    margin-top: 24px;
}
.NavareaChart{
    font-size: 23px;
    margin-top: 24px;
    font-weight: normal;
}



.ant-form-item{
    margin-bottom:11px !important;
}

.imgCenter{
      position: fixed;
  top: 20%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}


.ant-menu-item-selected .iconActive{
    display: inline-block;
}
.iconActive{
    display: none;
}
.iconInactive, .iconActive{
    width:26px;
}
.ant-menu-item-selected .iconInactive{
    display: none;
}
.imgInactive{
    display: none;
}


.Couponsitem.activ .imgactive{
    display: none;
}

.Couponsitem.activ .imgInactive{
 display: inline-block;
}
.topHeader{
padding: 0px;
height: 65px;
line-height:66px; 
background-color: #fff !important;
 border-bottom:1px solid #fafafa !important; 
 -moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.26);
-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.26);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
   
z-index: 1;
}

.txtLeft{
    text-align: left;
}

.menuRight .ant-dropdown-menu{
margin-left:20px;
}

.layoutFooter{
text-align:center;
 height: 56px;
  padding: 20px;
   position:fixed;
    bottom:0px;
    width:100%;
}
.webchlngKarokecount12 {
    background-color: red;
    border-radius: 110%;
    position: relative;
    top: -12px !important;
    font-size: 7px;
    padding: 1px 5px !important;
    left: -11px !important;
}
@media (min-width:1901px){
    .container {
        width: 1800px;
    }
    .ant-col-xl-5 {
        display: block;
        width: 19.9999%;
    }
    }
 @media (min-width:1800px) and (max-width:1900px){
  .container {
        width: 1700px
    }

 }
 @media (min-width:1600px) and (max-width:1800px){
     .ant-col-xl-4 {
    display: block;
    width: 19.99999%;
}
 }
   @media (min-width:1600px) and (max-width:1800px){
            .container {
        width: 1510px;
    }
            }

   


    @media (min-width:1366px) and (max-width:1599px){
        .container {
            width: 1234px;
        }
        }

 @media (min-width:1200px) and (max-width:1365px){

.container {
    width: 1111px;
}
 }


    @media (min-width:992px)and (max-width:1199px){
        .container {
            width: 926px;
        }
        }
        @media (min-width:768px) and (max-width:991px){
            .container {
                width: 750px;
            }
            }

            .container {
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
            .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-tail > i::after {
                width: 100%;
                background: #783293;
                -webkit-transition: all .6s;
                -o-transition: all .6s;
                transition: all .6s;
                opacity: 1;
                -webkit-box-shadow: 0 0 0 0 #783293;
                box-shadow: 0 0 0 0 #783293;
                -webkit-animation: tailEffect .4s;
                animation: tailEffect .4s;
            }
            .ant-tabs-nav .ant-tabs-tab:hover, .ant-tabs-nav .ant-tabs-tab-active {
                color: #783293;
            }
            .ant-tabs-ink-bar{
                background: #783293;
                box-shadow: none !important;
            }
            .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused, .ant-radio-button-wrapper-checked:hover{
                color: #783293;
                box-shadow: none !important;
            }
            .ant-radio-button-wrapper-checked {
                background: #fff;
                border-color: #783293;
                color: #783293;
                -webkit-box-shadow: -1px 0 0 0 #783293;
                box-shadow: -1px 0 0 0 #783293;
                z-index: 1;
            }
            .ant-radio-button-wrapper-checked:hover,  .ant-radio-button-wrapper-checked:first-child {
                border-color: #783293;
                box-shadow: none !important;
            }
            .ant-select-selection:hover, .ant-select-selection:active, .ant-select-selection:focus {
                border-color: #783293;
            box-shadow: none !important;
            }
            .ant-btn:hover, .ant-btn:focus {
                color: #783293;
                background-color: #fff;
                border-color: #783293;
            }
            .ant-input-number-input:hover, .ant-input-number-input:focused, .ant-input-number-input:active, .ant-input-number:hover, .ant-input-number-focused{
               border-color: #783293 !important;
               box-shadow: none !important;
            }
            .ant-pagination-item a:hover, .ant-pagination-item:hover{
                color: #783293 !important;
            }
            .ant-pagination-item:focus, .ant-pagination-item:hover{
                color: #783293 !important;
            }
            .ant-select-open .ant-select-selection{
                border-color: #783293 !important;
                box-shadow: none !important;
            }
            a:hover, a:focus, a:active{
                color:#783293 ;
            }
            /*.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #783293;
}*/
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #783293;
}
.ant-pagination-item-active a,
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #fff !important;;
}

.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  color: 3;
}
.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #783293;
  color: #783293;
}
.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  color: #ffffff;
}