.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

#Form label {
  display: block;
  margin: 15px 0;
}

#Form input {
margin-left: 10px;
}

#Form button {
width: 100px;
padding: 15px 0;
border: none;
margin: 25px 0;
}


#Table {
  width: 60%;
  margin-left:auto; 
  margin-right:auto;
}

#Table table {
  width: 100%;
}

#Table td,#Table tr {
    border: 1px solid #ccc;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
