@import '../css/common/colors.css';
@import '../css/common/typography.css';
.cardBody{
    padding: 15px;
}
.challengeCard{
    border:1px solid #ccc;
}
.list-inline{
    padding-left: 0;
margin-left: -5px;
list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}
.cardFooter{
    border-top: 1px solid #f0f0f0;
    padding: 10px 15px;
}

.challengesmenu{
    padding: 20px 13px;
}
.createerror{
    color:red;
}

textarea{
resize: none;
}

.floatRight{
    float: right;
}
.copyRight{
    padding: 12px !important;
}
.challengesnavigation {
  padding: 0px !important;
}


.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
  font-weight: 600;
  text-decoration: none !important;
}
.ant-upload-select-picture-card {
width:300px;
height: 300px;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.antColLg-8{
    width:33%;
}
.antColLg-12{
    width:50%;
}
.antColLg-4{
    width:16%;
}
.blue{
    color: #00c8f7 !important;
}
.castImg{
    width:20px;
}
.h6Font{
    font-size: 13px !important;
    margin: 5px auto !important;
}
.cardContent{
    padding: 0px 15px;
}
.clear{
    clear: both;
}
.fun2winEditGridBtn{
    margin-right:20px !important;
}
.fun2WinEditPollBtn{
    margin-right:20px !important;
}
.marginRight35{
    margin-left:40px;
}
.QuestionEditCombination{
    margin-top:19px;
}
.createFun2Winmul{
    background-color: #783293 !important;
    border-color: #783293 !important;
    color: #ffffff !important;
    float:right;
    margin-right:20px;
    margin-top:20px;

}
.ImgCheckBox{
    position: absolute;
    top:12%;
}
.Deltebtn12{

}
.marginRight357{
    margin-left:35px;
}

.ImageCheckBox{
    position: absolute;
    top:-2%;
}

.Fun2winEditQuestionno{
     font-weight: 800;
    color:#783293;
}


.deletIcon{
    font-size:20px;
}

.marginBottom20{
    margin-bottom: 20px;
}


.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}

.marginRight38{
    margin-right:38px;
}

.margin20{
    margin:20px;
}

.marginRight15{
    margin-right:15px;
}

.marginRight5{
margin-right:5px !important;
}

.RedStar{
    color:red;
}


.margincatgry1{
    margin-right:15px;
}


.marginTop20{
   margin-top:20px;
}

.marginLeft20{
    margin-left:20px;
}

.padding20{
    padding: 20px;
}

.marginBottom25{
    margin-bottom: 25px;
}

.createFun2Win{
    height: auto !important;
    padding: 8px 12px !important;
    float:right;
}

.btnRight{
    float:right;
}

.DeltRight{
        float:right;
        border:none !important;
        margin-bottom: 15px;
        color:red;
}


.borderTab .ant-tabs-nav .ant-tabs-tab{
    border:1px solid #ccc;
    padding:10px !important;
}
.marginTop20{
    margin-top:20px;
}
.ant-btn .AddPlusIcon{
  color: #a0a0a3;
  color:#fff;
}
.ant-checkbox-wrapper + span, .ant-checkbox + span{
    padding: 0px !important;
}
.editFun2winModal .ant-modal-content{
    height :150px !important;
    width:330px !important;  
}
.margnBottom20{
    margin-bottom: 20px;
}
.margnLeft20{
    margin-left: 20px;
}
.mrgnIconleft50{
      color: #a0a0a3;
     margin-left: 10px;
    margin-top:40px;

}
.EfuntowinQuestion .ant-radio-wrapper{
height: 36px !important;
}
.EfuntowinQuestion p{
    padding-left:25px;
}
.mrgnIconleft60{
    color: #a0a0a3;
    margin-left:40px;
    margin-top:25px;
}
.cfuntowinadd{
	    padding-top:24px;
	}
.mrgnIconleft12{
    color: #a0a0a3;
    margin-left:10px;
    margin-top:10px;

}
.multipleP{
    margin-top:-13px;
}
.cfunguploadimgs .avatar-uploader{
    height:109px !important;
}
.cfunguploadimg img{
	    height: 147px;
	    width: 148px;
	    border-radius: 5px;
	}
    .cfunguploadimgs img{
	    height: 106px !important;
	    width: 148px !important;
	    border-radius: 5px !important;
	}

.cfunguploadimgsEdit .avatar-uploader{
    height:109px;
}

.cfunguploadimgsEdit img{
  height: 106px;
	    width: 148px;
	    border-radius: 5px;
}

.fun2WinEditCombinationQuestion{
    margin-top:19px;
}
    .mrgnIconleft468{
        padding-left:10px;
        padding-top:42px;
        color:#a0a0a3;
        
    }
    .funeditbtnu{
        float:right;
        margin-right: 20px;
    }
    .mrgnIconleft468{
        padding-left:10px;
        padding-top:42px;
        color:#a0a0a3;
        
    }
    .createFun2Win{
        float:right;
    }

.fun2WinQuestionError{
    color:red;
}
.fun2winEditQuestions{
   font-size:14px;
    font-weight:600;
}

.FontBold{
    font-weight: 800;
    color:#783293;
   
}

.questionPara {
    font-size: 13px;
    margin: 12px 0;
    color: #000000;
    border: 1px solid #d9d9d9;
    padding: 8px 8px 8px 12px;
    border-radius: 2px;
}

.Deltebtn, .Deltebtn:hover, .Deltebtn:focus {
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 8px !important;
    float: right;
    color: #fff;

}
.Deltebtn12, .Deltebtn12:hover, .Deltebtn12:focus {
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 2px !important;
    float: right;
    color: #fff;

}
.fun2winSavesbtns, .fun2winSavesbtns:hover, .fun2winSavesbtns:focus {
     background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 8px !important;
  float:right;
    color: #fff; 
}

.editsaveBtn, .editsaveBtn:hover, .editsaveBtn:focus {
     background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 8px !important;
  float:right;
    color: #fff; 
}

.RightAlign{
    float:right;
    border:none;
    height:10px;
    margin-top: 22px;
}

.mrgnIconleft10{
    margin-left:10px !important;
}
.Fun2winEditSubNav{
  padding: 19px 0px 0px 19px;
background-color: #ffffff;
margin: 30px 12px 30px 12px;
height: 70px;
border: 1px solid #e5e5e5;
}
.EditFun2WinBodymain{
padding: 18px 7px 0px 24px;
background-color: #ffffff;
border: 1px solid #e5e5e5;
margin: 0px 0px 30px 12px;
width:98%;
}


.questionPara{
     white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


.fun2winuploadcombination .avatar-uploader {
    height: 135px;
    width: 126px;
}
.fun2winuploadcombination img {
    height: 131px;
    width: 121px;
    border-radius: 5px;
}


.cfunguploadimgEditgrid .avatar-uploader{
        width: 123px;
    height: 123px;
}
.cfunguploadimgEditgrid img{
        width: 116px;
    height: 116px;
    border-radius:5px;
}
.marginRight441{
    margin-right:50px;
}
.marginuploadRight38{
        margin-right: 50px;
}
/*.cfunguploadimgEditgrid  img{
    width: 147px;
height: 147px;
border-radius: 5px;
}*/
@media (min-width: 1400px) and (max-width: 1599px){
.cfunguploadimgEditgrid .avatar-uploader {
    width: 153px;
    height: 153px;
}
.cfunguploadimgEditgrid img {
    width: 148px;
    height: 148px;
    border-radius: 5px;
}
.cfunguploadimgs .avatar-uploader{
    height:146px !important;
}
.cfunguploadimgs .anticon-picture{
    padding:0px !important;
}
}
@media (min-width: 1200px) and (max-width: 1090px){

.marginuploadRight38 {
    margin-right: 40px;
}
}


@media (min-width: 1024px) and (max-width: 1199px){

.cfunguploadimgsEdit .avatar-uploader{
    height:109px;
}

.cfunguploadimgsEdit img{
  height: 106px;
	    width: 148px;
	    border-radius: 5px;
}
/*.marginRight440{
    margin-right:50px !important;
}*/
.fun2winuploadcombination .avatar-uploader {
    height: 93px;
    width: 93px;
}

.fun2winuploadcombination img {
    height: 90px;
    width: 90px;
    border-radius: 5px;
}
.marginuploadRight38 {
    margin-right: 39px;
}
.cfunguploadimgEditgrid .avatar-uploader {
    width: 111px;
    height: 109px;
}
.cfunguploadimgEditgrid img {
    width: 107px;
    height: 105px;
    border-radius: 5px;
}
.Deltebtn, .Deltebtn:hover, .Deltebtn:focus{
    position:relative;
    left:-19px;
}
.fun2winSavesbtns{
   position:relative;
   top:-32px;
}
}