.MarginTop20{
    margin-top:20px !important;
}

.Wrapper{
    padding:0 20px 20px 20px;
}

.borderBottom{
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
}

.greyColor{
    color:grey;
}

.marginRight20{
    margin-right:20px;
}

.EventSpan{
position: absolute;
    background-color: #999;
    z-index: 1000;
    width:15px;
    padding:2px 0 2px 2px;
    color:#fff;
}

.spanPadding{
    padding-left:15px;
padding-right:15px;
}

.marginLftrt20{
    margin-left:20px;
    margin-right:20px;
}

.marginLeft20{
    margin-left: 20px;
}



/*.block_container
{
    text-align:center;
}
.bloc1, .bloc2
{
    display:inline;
}*/


.EventSpanList{
position: absolute;
    background-color: #999;
    z-index: 1000;
    width:35px;
    padding:0px 0 2px 2px;
    color:#fff;
}


ul.subText li {
    display:inline;
}

/*.LeftSpace .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
   padding-left:14px;
}*/

.LeftMoreSpace .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
   padding-left:0px;
}


.ViewAllBtn{
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    float:right;
}


.avatar-uploader > .ant-upload {
  width: 80px;
  height: 80px;
}

.CustomNotifiTitles{
     font-size: 11.4px !important;
    padding-bottom:10px;
    font-weight:700;
    color:#717171;
}
.CustomNotifiTitles1{
     font-size: 11.4px !important;
    padding-bottom:10px;
    font-weight:700;
    margin-left:20px;
    color:#717171;
}
.marginTop14{
    margin-top:14px;
}


.uploadimg80{
     width: 80px !important;
  height: 80px !important;  
}

.uploadimg80 .avatar-uploader-trigger{
      width: 8px !important;
  height: 80px !important;  
}

.uploadimg80 .ant-upload.ant-upload-select{
      width: 80px !important;
  height: 80px !important;  
}



.margntopbOTTOM{
    margin-top: 14px;
    margin-bottom: 40px;
}

.allSentBtn{
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    font-size: 14px;
    margin-top:10px;
}
.DeltIconBottom12{
    margin-bottom: 12px;
}
.pushNotifnavigation  {
padding:0px 20px;
float:right;
}

.pushNotifnavigation {
  padding: 0 28px;
 }

.pushNotifnavigation, .item {
  display: inline-block;
  text-decoration: none;
  padding:0px 0px;
  color: var(--colorBlack);
}
.allNotifiList li{
margin-top: 20px;
vertical-align: middle !important;
}
.ant-input-affix-wrapper .ant-input-suffix{
    top:14px;
}
.active {
  color: #783293 !important;
}

.marginBottom20{
    margin-bottom: 20px;
}

.ant-switch-checked{
 background-color: #783293;
}

.ant-pagination-item-active{
 background-color: #783293;
 border:1px solid #783293;
}

.colLg8{
    width:30%;
    float: left;
    margin:10px 10px 10px 0;
}

.colLgSubCategory{
      width:30%;
    float: left;
    margin:10px 10px 10px 10px;

}


.colLg3{
    width:20%;
    float: left;
    margin:10px 10px 10px 0;
}

.CChallengess{
 background-color: #ffffff;
    padding: 20px 20px;
     margin: 0px 12px 30px 12px;
    border:1px solid #e5e5ee;
    margin-top:0px !important; 
}

#scheduled{
    background-color: #ffffff;
    padding: 20px 20px;
    margin: 0px 12px 30px 12px;
    border:1px solid #e5e5ee;
    margin-top:0px !important;
}
#custom{
   background-color: #ffffff;
    padding: 20px 20px;
    margin: 0px 12px 30px 12px;
    border:1px solid #e5e5ee;
    margin-top:0px !important; 
}

.HiddenDiv{
    display: none;
}
.marginBottom20{
    margin-bottom: 20px;
}

.subPara{
    color:#222222;
    padding-top: 20px;
    font-weight:600;
    /*border-top: 1px solid #ccc;*/

}
.SechduledChallengesWithRange{
    margin-left:21px;
}
.SechduledChallengesWithdays{
    margin-left:20px;
}
.SechduledMiscWithin{
    margin-left:6px;
}
.ant-input{
    border-radius: 0px;
}
.marginLeft10{
    margin-left:10px;
}
.SechduledChallengeslkeRange{
    margin-left:20px;
}
.sechduledforcelebrity label{
    padding-left:11px;
}
.marginlfrt20{
    margin-top:20px;
    margin-bottom: 20px;  
}

.ant-form-item-label label::after{
    content:"";
}

.SubMenuPushNotifications {
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 10px 11px 30px 11px;
    height: 70px;
        border: 1px solid #e5e5e5;
}

.paddingDropdown{
    padding: 30px 30px 20px 40px;
}



.mrgnLeft25{
    margin-left:25px;
}

.SubMenuPushNotifi{
      padding: 40px 40px 30px 25px;
    background-color: #ffffff;
    margin: 0px 11px 30px 11px;
      height:auto;
     border: 1px solid #e5e5e5;
    
}


.mrgLeft30{
    margin-left:30px;
}



.anticon-eye-o{
    cursor: pointer;
}

.ant-modal-title{
    font-weight: 700;
    color:#333a50;
}

.boldTxt{
    font-weight:700;
     color:#333a50;
}


.margin20{
    margin-top:20px;
    margin-bottom: 20px;
}

.greyButton{
    background-color: #783293 !important;
    border-color: #783293 !important;
    color:#fff !important;
    height: auto !important;
    padding: 8px 12px !important;
    width:90px;
    cursor: default;
}

.greyButton:hover{
      color:#fff !important;
       cursor: default;
}

h3{
    font-weight:600;
}

.modalHeight .ant-modal-body {
    height: 280px !important;
}

.ant-table-thead > tr > th{
    font-weight:700;
}



.PredefinedLabels {
    font-size: 11px !important;
    font-weight: 700;
    color: #717171 !important;
    
}

.MarginTop10{
    margin-top:10px;
}
.PredfUploadimglabelfancLub label{
  padding-left:32px;
}

.pussNotImg{
    width: 80px  !important;
    height: 80px  !important;
    border-radius: 0px;

}
.pussNotImg .ant-upload.ant-upload-select{
    width:80px !important;
    height: 80px !important;
}
.pussNotImg .avatar-uploader-trigger{
    width:80px !important;
    height: 80px !important;
}

.modalCustmNotif .ant-modal-body {
    height: 350px !important;
 
}
.CustomNotifiTitlesimage {
    font-size: 11.4px !important;
    padding-bottom: 10px;
    font-weight: 700;
    padding-left:32px;
    color: #717171;
}
.MarginTop18{
    margin-top:18px;
}

.marginLeft10{
    margin-left:10px;
}

.modalCustmNotif  .ant-modal-content{
width:650px !important;
}


.hiddnScroll ::-webkit-scrollbar { 
    display: none !important;
}

.mrgnLeft90{
    margin-left:90px;
}

.imgpUSH{
    width: 80px;
    height:80px;
}

.schdnotemg{
   width: 80px;
    height:80px;
    margin-left:15px;   
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.margleft20{
    margin-left: 20px;
}

.mrgTop30{
margin-top:30px;
}

.mrgTop38{
margin-top:38px;
}

input:focus{
    outline: none !important;
    /*border: 1px solid #E87722 !important;*/
    background-color:#ffffff !important;
}

.sechduledFun2winStartCount{
    margin-left:40px;
}
.SechduledFanClubsselectCelebrity label{
padding-left:8px;
}
.SechduledfanClubSforCelebrity{
    margin-top:-32px;
}
.SechduledfanClubSforCelebrity1{
    margin-top:-32px;
    padding-left:25px;
}
.SechduledfanClubSforCelebrity2{
    margin-top:-32px;
    padding-left:25px;
}
.CustomNotiFanclubsActivity label{
padding-left:32px;
}
.CustomnfanClubsforCelebity label{
    padding-left:32px;
}
.CustomfanClubsWithanrangesmain{
    margin-left:0px !important;
     /*margin-top:-24px;*/
}
.CustomNotwithfanClubs{
    margin-top:-33px;
}
.CustomCreateFanClubWithinrange{
    margin-top:-34px;
    margin-left:20px;
}
.CustomNotifactionFanForPeriod label{
padding-left:30px;
}
.CustomNotfiFanClubsWasNotperform label{
    padding-left:30px;
}
.SelectPushNotificationCategory{
margin-left:25px;
}
.customFun2WinParticipatedCount{
    margin-left:20px;
}
.customFun2WinParticipated{
    margin-left:20px;
}
.CustomFun2WinStart , .CustomFun2WinEnd ,.CustomFun2WinCounts{
    margin-left:20px;
}
.CustomFun2SelectRanges{
    margin-left:20px;
}
.lastButtonofCustomFun2Win{
 margin-top:15px;
}
.CustomNotifiChallengesSelectLikeRange{
    margin-left:20px;
}
.CustomNotifiChallengesWithinRange{
    margin-left:20px;
}
.CustomNotifiChallengesWithinRange1{
    margin-left:0px;
}
.CustomChallengesWithinday{
    margin-left:14px;
}
.CustomNotificationMisleniouswithin{
    margin-left:20px;
}
.CustomNotifiChallengesImagesUpload .avatar-uploader,.CustomNotifiChallengesImagesUpload .avatar-uploader-trigger,.CustomNotifiChallengesImagesUpload .avatar{
    width: 100px ;
    height: 72px;
}
.CustomNotifiChallengesImagesUpload img{
width: 97px;
    height: 69px;
    border-radius: 5px;
}
.customCelebwithinRangedsdays{
    margin-top:-33px;
    margin-left:12px;
}
.Pushnotificationmainheader{
    background-color:#ffffff;
    padding:15px 20px 15px;
    border-top:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    margin:0px 12px 0px 12px;
}
.Pushnotificationmainheader1{
    background-color:#ffffff;
    padding:15px 20px 15px;
    border-top:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
#predefined{
     background-color:#ffffff;
    padding:15px 20px 15px;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    margin: 0px 12px 30px 12px;
    margin-top:0px !important;
}

.AllsentNotifieye{
    padding-left:15px !important;
    font-size:16px;
    }

    
.PredefinedsentNotifieye{
      font-size:16px;
}
.Pusingselects{
    width:100% !important;
}



 .PushnotificationsTable .ant-table-thead > tr > th {
    background: white;
     color: grey;
    border-bottom: 1px solid #ededed;
    padding-top:20px;
}

.tableBorder .ant-table {
    border:1px solid #eeeeee;

}
.ScheduledModaldatatitle, .Scheduledmodaldatadsec{
    white-space: pre-wrap;
}













@media (min-width: 1024px) and (max-width: 1199px){
.fanclubsSechdulednotificationstart{
    margin-right:50px;
}
.fanclubsschedulestartforperiod{
    margin-right:50px;
}
.sechduledfanclubstartDayss{
    margin-right:50px;
}
.selectRangefun2winSechdule{
    margin-left:25px;
}
.sechdulecountFun2winstart{
    margin-right:45px;
}
.SechduledChallengesWithRange {
    margin-left: 0px;
}
.SechduledMiscWithin {
    margin-left: 0px;
}
}

@media (min-width: 1200px) and (max-width: 1365px){

.Notifctninputs{
    margin-left:40px;

}

}