@import '../css/common/colors.css';
@import '../css/common/typography.css';
.cardBody{
    padding: 15px;
}
.space{
    width: 130px;
}
.challengeCard{
    border:1px solid #ccc;
}
.list-inline{
    padding-left: 0;
margin-left: -5px;
list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}
.cardFooter{
    border-top: 1px solid #f0f0f0;
    padding: 10px 15px;
}
.AddCouponMainBody{
    padding-left:10px;
    padding-right: 30px;
}
.challengesmenu{
    padding: 20px 13px;
}
.floatRight{
    float: right;
}
.copyRight{
    padding: 12px !important;
}
.challengesnavigation {
  padding: 0 28px;
}
.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
.ant-upload-select-picture-card {
width:300px;
height: 300px;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}
.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.antColLg-8{
    width:33%;
}
.antColLg-12{
    width:50%;
}
.antColLg-4{
    width:16%;
}
.blue{
    color: #783293 !important;
}
.castImg{
    width:20px;
}
.h6Font{
    font-size: 13px !important;
    margin: 5px auto !important;
}
.cardContent{
    padding: 0px 15px;
}
.clear{
    clear: both;
}
.couponsmodalB .ant-modal-body {
   top:20px;
    width: 820px !important;
}

/*
.ant-modal-body{
    height: 500px !important;
    overflow-y: scroll !important;
}
*/
.ant-card-bordered{
    margin:0px 13px 26px;
        border: 1px solid #e5e5e5;
}


.pageTitle{
    font-size: 16px;
   
    color: #783293 !important;
}


.SubMenuCoupons {
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 10px 0px;
    height: 70px;
        border: 1px solid #e5e5e5;
}


.mrgLeft30{
    margin-left:30px;
}

.mrgLeft32{
    margin-left:32px;
}



.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}
#pagenumberLi li{
    /* background-color: #783293; */
    padding: 5px 10px !important;
    color:#783293;
    margin: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}
#pagenumberLi li:hover, .activeLi{
    background-color: #783293;
    padding: 5px 10px !important;
    color:#fff !important;
    margin: 3px;
    border: 1px solid #783293 !important;
}
.fun2winicons li{
font-size: 15px;
width: 33%;
}
.AddCoupnh6Fnt {
    font-size: 11.4px !important;
    /* margin: 5px auto !important; */
    font-weight: 700;
    color: #717171;
}
.ant-select-selection{
    border-radius: 0px;
}
.fun2winSelect .ant-select-selection__rendered{
    line-height: 30px;
}
.fun2winSelect .ant-select-selection--single {
    height: 32px;
}
.fun2winId{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
#subcat{
    display: none;
}

.imgCoupons{
    max-width:100%;
    overflow:hidden;
}
.imgCpon{
height:280px;
}
.example{
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-top: 10%;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}
.HeadingsTab{
    padding:20px;
}

.sideHeading{
    font-weight: 600;
    color:#999;
    }

.sideHeading .ant-switch{
    margin-right:15px;
}

.sideHeading > span{
    margin-right:15px;
}

ul.updateAlert {
    list-style-type: none;
    margin: 0;
     padding:20px;
}

li.updateAlert  {
    display: inline;
    padding-left:10px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.FanCoinsLabel{
   color: #783293;
   font-size:14px;
}

.SubHeadingsTab{
    padding:12px 12px 12px 0;
}

.Marginleft15{
    margin-left:15px;
}

.fontWeightBold .ant-form-item-label label{
    font-weight: 700;
}

.couponsbtn .couponssaveBtn{
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 28px !important; 
    width: 100px;  
}

.MarginTop20{
    margin-top:20px;
}
.marginLeft30{
    margin-left:30px;
}


.ant-tabs-nav .ant-tabs-tab{
    padding:8px 20px 8px 0px  !important;
}


.paddinglft20{
    padding-left:20px;
}


figure {	
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden !important;
}
.AddCouponsUploadImage img{
height:148px;
width:148px;border-radius:6px;
}

.AddCouponRichtext .RichTextEditor__editor___1QqIU {
    cursor: text;
    font-size: 16px;
}
.couponmodal{
    /* height: -webkit-fill-available !important; */
    height: 500px;   
}
.couponCardTitle, .couponCardFooterh3 {
    font-size: 1.1em;
    /* text-transform: uppercase; */
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 6px 0px;
    color: #1a173b;
}
.couponSubText {
    margin-bottom: 12px;
    font-weight: 400;
    color: rgba(49, 70, 88, 0.7);
}
.couponstype{
    margin:0px 13px 20px 13px;
}
.viewcouponCardFooterh3 {
    font-size: 12px;
    font-weight: 500;
    margin: 6px 0px;
}
    .viewcouponCardFooterh3 li:first-child{
   color: #783293;
}

.downloadTxt{
   
    float: right;
    margin-right:15px;
    margin-top: 24px;
}


.downloadTxtCoinsErnd{

    float: right;
    margin-right:15px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.downloadTxtUser{

    float: right;
    margin-right:15px;
    margin-top: 6px;
}

.downloadTxtCoinsEarned{
    float: right;
    margin-right:15px;  
}


 .ReedemCouponsreportsTableheading .ant-table-thead > tr > th {
    background: white;
     color: #666464;
     border-top:1px solid #c6c2c2;
    border-bottom: 1px solid #c6c2c2;
    text-transform: uppercase;
}


.ReedemCouponsreportsTableheadingCatgry .ant-table-thead > tr > th {
    background: white;
     color: #666464;
     border-top:1px solid #c6c2c2;
    border-bottom: 1px solid #c6c2c2;
    text-transform: uppercase;
    text-align: left !important;
}


.ant-table-fixed-header .ant-table-scroll .ant-table-header{
    overflow: hidden;
           border-bottom: 1px solid #c6c2c2;
}




.CouponsNavigations{
    padding-top:12px;
    float: right;
}
.Couponsitem{
padding-right:10px;
font-size:12px;
}

.boxstyle{
    padding:15px 10px;
    margin: 0px 10px;
}
.couponsdata{
    border: 1px solid red;
    padding: 10px;
    margin: 0px 10px 20px;
        border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
    border-radius: 2px;
}
.reportsTitle{
border-bottom: 1px solid #777;
padding-bottom: 5px;
margin:0px 10px;
}
.graphblock{
    padding: 10px;
    margin: 10px auto;
}

/*------*/
.Fun2winCoinsearnReportuser{
    padding-top:9px;
}
.FanCoinsearnedRepots td:nth-child(5) {

    overflow: hidden;
    text-overflow: ellipsis; 
}

.Fancoinsfilterearnedreports{
    font-size:25px;
}
.fancoinsReportfiltername{
    font-size:15px;
}
.FancoinsRedeemedReports{
    padding-top:9px;
}
.fancoinsRedeeemedReportTable td:nth-child(5){
    width:12em;
    overflow:hidden;
    text-overflow:ellipsis;
}
.fancoinsRedeeemedReportTable td:nth-child(2){
    padding-left:45px;
}
.fancoinsRedeeemedReportTable td:nth-child(3){
  padding-left:45px;
}
.FancoinsRedeemedreportdownload{
    float:right;
    font-size:22px;
}
.FancoinsRedeemedfiltericon{
    font-size:15px;
}
.FancoinsRedeemfilterF{
    font-size:15px;
}

.FancoinsFeaturefilter{
    font-size:15px;
}
.FancoinsFeaturefiltericon{
    font-size:15px; 
}
.FancoinsFeaturewisetable th:nth-child(5) ,.FancoinsFeaturewisetable th:nth-child(4),.FancoinsFeaturewisetable th:nth-child(3),.FancoinsFeaturewisetable th:nth-child(2){
text-align:center;
}

.FancoinsFeaturewisetable td:nth-child(5) ,.FancoinsFeaturewisetable td:nth-child(4),.FancoinsFeaturewisetable td:nth-child(3),.FancoinsFeaturewisetable td:nth-child(2){
text-align:center;
}
.FancoinsFeaturewisetable td:nth-child(2){
    padding-right:32px;
}

.messageCenterReprotfilteric{
    font-size:15px;
}
.messageCenterReprotfiltername{
    font-size:15px;
}
.MessageCenterReportsTable td:nth-child(4) ,.MessageCenterReportsTable td:nth-child(3), .MessageCenterReportsTable td:nth-child(2) {
    text-align:center;
    padding-right:50px;
}
.MessageCenterReportsTable th:nth-child(2){
    text-align:center;
}

.FanclubsReportfilterName{
    font-size:15px;
}
.FanclubsReportfilterNameicon{
    font-size:15px;
}
.FanClubsReportTable  td:nth-child(4), .FanClubsReportTable  td:nth-child(3), .FanClubsReportTable  td:nth-child(2){
    text-align:center;
}
.FanClubsReportTable  th:nth-child(4), .FanClubsReportTable  th:nth-child(3), .FanClubsReportTable  th:nth-child(2){
    text-align:center;
}
.fun2winReportpdf{
   width:25px;
   height:25px;
    float:right;
    margin-bottom:15px;
    cursor: pointer;
}
.fun2winReportfilterName{
    font-size:15px;
}
.fun2winReportfiltericon{
    font-size:15px;
}
.CoinsearnedReportstable th:nth-child(5){
width:15%;
}
.fun2winReporttable th:nth-child(5), .fun2winReporttable th:nth-child(4),.fun2winReporttable th:nth-child(3),.fun2winReporttable th:nth-child(2){
    text-align:center;
}
.fun2winReporttable td:nth-child(5), .fun2winReporttable td:nth-child(4),.fun2winReporttable td:nth-child(3),.fun2winReporttable td:nth-child(2){
    text-align:center;
}
.loginReportfiltericon{
    font-size:15px;
}
.loginReportfilter{
    font-size:15px;
}
.loginReportTable th:nth-child(3), .loginReportTable th:nth-child(2){
    text-align:center;
}
.loginReportTable td:nth-child(3), .loginReportTable td:nth-child(2){
    text-align:center;
}
.redeemedCouponspdf{
    float:right;
    width:25px;
    height:25px;
    cursor: pointer;

}

.redeemedCouponsreportspdf{
   float:right;
    width:25px;
    height:25px;
    cursor: pointer;
    margin-bottom:15px;
}

.redeemedCouponspdf1{
   float:right;
    width:25px;
    height:25px;
    cursor: pointer;
    margin-top:15px;
}
.redeemedCouponspdf2{
    float:right;
    width:25px;
    height:25px;
    cursor: pointer;
    position:relative;
    top:38px;
}

.SearchBoxCoinsEarnd{
    width:300px;
}


.redeemedCouponspdfCoinsEarned{
    float:right;
    width:25px;
    height:25px;
    cursor: pointer;
    position:relative;
    top:6px;
}


.SearchIconCoinsEarned{
    position: absolute;
    top:19%;
    right:47%;
}


/*.redeemedCouponspdf{
padding-bottom:35px;
}*/
.redeemedCouponsfiltericon{
    font-size:15px;
}
.redeemedCouponsfilter{
    font-size:15px;
}
/*.RedeemedcouponsReporttable th:nth-child(5), .RedeemedcouponsReporttable th:nth-child(4), .RedeemedcouponsReporttable th:nth-child(3),.RedeemedcouponsReporttable th:nth-child(2){
    text-align:center;
}
.RedeemedcouponsReporttable td:nth-child(5), .RedeemedcouponsReporttable td:nth-child(4), .RedeemedcouponsReporttable td:nth-child(3),.RedeemedcouponsReporttable td:nth-child(2){
    text-align:center;
}*/
.RedeemeduserscouponsReporttable  td:nth-child(6){
width:15em;
}
/*.RedeemeduserscouponsReporttable td ,.RedeemeduserscouponsReporttable th ,.RedeemeduserscouponsReporttable tr{
text-align:center !important;
}*/
.RedeemedcouponsReporttable td ,.RedeemedcouponsReporttable th ,.RedeemedcouponsReporttable tr{
    text-align:center !important;
}

.RedeemedcouponsReportCatgrytable td , .RedeemedcouponsReportCatgrytable th, .RedeemedcouponsReportCatgrytable tr{
    text-align:left !important;

}



.RedeemedUserReportable ,.RedeemeduserscouponsReporttable th ,.RedeemeduserscouponsReporttable tr{
text-align:left !important;

}




.Redeemeduserreporticon{
    font-size:15px;
}
.Redeemeduserreportfilter{
    font-size:15px;
}
.CoinsearnedReportstable{
    width:100% !important;
}
.RedeemedcouponsReporttable{
    width:100% !important;
}
.fun2winReporttable{
     width:100% !important;
}
/*.track-horizontal {
     min-width: 100%;
      z-index: 150;
       bottom: 0;
        }
.thumb-horizontal {
     cursor: pointer;
      background: red;
       min-width: 100px;
        }*/

.ReportsSubmitbtn{
  border-radius: 0 !important;
}
@media screen and (min-width: 1024px) and (max-width: 1600px) {
.RedeemeduserReportTable th{
    font-size:11.8px;
}
/*.RedeemeduserscouponsReporttable{
    width:230% !important;
}
.CoinsearnedReportstable{
    width:230%  !important;
}
/*.messageCentresReportstable{
    width:150% !important;
}
.fanClubsReportsTable{
   width:150% !important;  
}
.fun2winReporttable{
     width:170% !important;
}*/
.RedeemedCouponsTitleReport{
    font-size:14px;
}
.Reports-coinsEarnedheader1 h3 {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0px;
}
.Reprotsmainheaderselect1 {
     padding-left: 0px; 
}
.Reports-coinsEarnedheader1{
    padding:0px 15px;
}
.ReddemedCouponsCountReports{
    font-size:14px;
    padding-bottom:20px;
  margin-top:5px;
}

.ReddemedCouponsCountReportsMsgCenter{
        font-size:12px;
   
  margin-top:5px;
}

.LoginRefralsubmitBtn{
    margin-top:5px;
}
}


@media (min-width: 1023px) and (max-width: 1199px){


 .TableHeadingResponsive .ant-table-thead > tr > th {
       font-size:10px !important;
}
}