.HeadingsTab{
    padding:20px;
}

.HeadingsTabFancoins{
     padding:5px;
}

.ant-col-lg-fancoinsBox{
width:50%;
float:left;
}
 .fansCoinsConfigtabs .addbuttonColor{
color:#783293;
border-bottom: 2px solid #783293;
font-size:12px;
 }
 
.marginLeft0{
    margin-left:0 !important;
}

 .fansCoinsConfigtabs p{
     font-size:12px;
font-weight:700;
 }
 .fansCoinsConfigtabs p{
     cursor:pointer;
 }

.TabsTxtOffers {
    color:#cccccc !important;
    font-weight: normal !important;
}

.txtCenter{
    text-align: center;
}

#fancoinstab2{
    width:100px;
    margin-left:50px;
}
#fancoinstab3{
    width:83px;
       margin-left:50px;
}
.sideHeading{
    font-weight: 600;
    color:#999;
    }

.sideHeading .ant-switch{
    margin-right:15px;
}

.sideHeading > span{
    margin-right:15px;
}

ul.updateAlert {
    list-style-type: none;
    margin: 0;
     padding:20px;
}

li.updateAlert  {
    display: inline;
    padding-left:10px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.paddingLeft20{
    padding-left:20px;
}

.FanCoinsLabel{
 color: #717171 !important;    
font-size: 11px !important;
    font-weight: 700;
}

/*.NewTabbORDER .ant-tabs-bar{
border: 0px;
}*/
#fancoinstab3{
    color:#717171;
}


.SubHeadingsTab{
    padding:12px 12px 12px 0;
}

.ant-tabs-nav .ant-tabs-tab{
        font-size: 13px;
    font-weight: 700;
}

.ant-input-number{
    width:80px;
}
.Marginleft15{
    margin-left:15px;
}



/*.fontWeightBoldExpry 
{
    margin-left:20px;
}*/


.updateBtn{
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    float:right;
}

.updateButn{ 
   background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 20px !important;
    float:right;
    margin-top:15px;
    margin-right:42px;
}

.updateButnFun2winChallanges{
       background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 20px !important;
      margin-top:15px;
    margin-right:42px;
    margin-bottom: 20px;
}

.updateButnFcontest{

    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 20px !important;
    float: right;
    margin-top: 7px;
    margin-right: 42px;
    margin-bottom: 10px;
}

.marginLeft20{
    margin-left:30px !important;
}


.padding10{
    padding:10px;
}


.TxtHeading{
     padding:10px;
     font-size: 16px; 
     color:#000;
}


.DistinctTxt{
    padding:10px;
        float:right;
               font-weight:700;
}

hr.light { 
    width:100%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey; 
}


hr.HRlight{
    width:100%; 
    margin:0 auto; 
    border:0px none white; 
    border-top:1px solid lightgrey;
    margin:15px 0;
    clear:both;
}


.BoldFntTxt{
font-weight: 700;
color:#783293;
}


.BoldFont{
font-weight: 700;
color:#000;
}


.reportsTitleRight{
    float:right;
    padding-top:10px;
}

.Reportsdata{
    border: 1px solid red;
    padding: 10px;
    margin: 20px 10px 20px;
        border: 1px solid #d9d9d9;
    background-color: #fDfDfD;
    border-radius: 2px;
}


.ReportsborderBox{
    border:1px solid #d9d9d9;
    background-color:#FAFAFA;
    margin-top:20px;
    border-radius: 2px;
}


.FancoinsborderBox .ant-card .ant-card-head {
 border:none;

}

.FancoinsborderBox .ant-card{
 border:none;  
}


.SubMenuFanCoins {
    padding: 0px 20px;
    background-color: #ffffff;
       margin: 28px 0px 3px;
    height: 75px;
    border: 1px solid #e5e5e5;
    width:98.9%;
}

.mrgLeft30{
    margin-left:30px;
}


 .FancoinsborderBox .ant-card-head .ant-card-head-title{

   
}


 .FancoinsborderBox .ant-card-head {
 padding:0 24px;
 border-bottom: none;
 }

.MarginTop15{
    margin-top:15px;
}


.FancoinsborderBox{
    border:1px solid #d9d9d9;
    background-color:#f5f5f5;
    margin-bottom:20px !important;
    border-radius: 2px;
}

.FancoinsborderBoxRight .ant-card-bordered{
    border:none !important;
    background-color:#f5f5f5;
    padding:10px;
    margin-left:34px;
     margin-top:20px;
      border-radius: 5px;
}

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab{
    text-align: left;
       background-color: #f5f5f5;
    margin-bottom: 0;
    border-bottom: 1px solid #d2d2d2;
    padding:14px 30px !important;
}

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar {
    float: left;
    border: 1px solid #e9e9e9;
     margin-right: 0;
    margin-bottom: 0;
}



.ant-tabs-nav .ant-tabs-tab:hover, .ant-tabs-nav .ant-tabs-tab-active{
     background-color:#fff !important; 
}


.verticlTabFancoins  .ant-tabs-nav .ant-tabs-tab{
padding:30px 30px;
          }


/*.borderColorTabs .ant-tabs-nav-container{
    border:1px solid #999;
    
}*/


.borderColorTabs{
    padding-left:45px;
}


.MarginTopBtm12{
    margin-bottom: 12px;
    margin-top:12px;
}
#fancoinstab1:hover ,#fancoinstab2:hover{
    color:#783293;
}

.chckBOXSharePadding .ant-checkbox-wrapper + span, .ant-checkbox + span{
    padding: 15px !important;
}

.fancoinsrferfriend{
    padding-bottom:20px;
}
.fancoinsrferfriend1{
    padding-bottom:20px;

}

.updaterefraFrndButn{
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 20px !important;
       margin-top:15px;
    margin-right:104px;
}


.mrgnLeft15{
     margin-left:15px;
}


.MarginTop20{
    margin-top:20px;
}
.marginLeft30{
    margin-left:30px;
}

.btnRight{
    float:right;
    margin:20px;
}


.ant-tabs-nav .ant-tabs-tab{
    padding:8px 20px 8px 0px  !important;
}

.paddingRadioBtn{
    padding: 0 28.4px !important;
}

.Reportssidernav{
    width:220px !important;
        max-width: 220px !important;
    min-width: 200px !important;
}

/*.SubMenuChallengesSteps{
      padding: 40px 40px 30px 25px;
    background-color: #ffffff;
    margin: 10px 12px 0px 12px;
    height: 670px;
        border: 1px solid #e5e5e5;
    
}*/
.Reportsnavvview{
    padding-left:45px !important;
    background-color:transparent !important;
    height:auto !important;
}

.ReportsView{
      /* margin-left: 15px; */
    border: 1px solid #999;
    border-radius: 22px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 35px;
}


.SubMenufanCOINSStepshsand{
      padding: 40px 40px 30px 0px;
    background-color: #ffffff;
    margin: 30px 12px 30px 0px;
    height: auto;
    width:100%;
    border: 1px solid #e5e5e5;
    
}


 .SelctMerchants .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
left:8px !important;
}




.Reportssubmenumenu .ant-menu-submenu-title:hover {
  color:#783293 ;
}
.Reportsnavview{
    background-color:transparent !important;
    height:auto !important;
}

.ant-menu-inline .Reportsnavview::after, .ant-menu-vertical .Reportsnavview::after {
    border-right: transparent !important;
}
.ant-menu-inline .Reportsnavvview::after, .ant-menu-vertical .Reportsnavvview::after {
    border-right: transparent !important;
}
/*@media (max-width: 1024px) and (min-width: 768px)
{

.ant-col-smResolution768{
    width:14.5%;
}


}*/
.RedeemedUserReportsiconsimages{
    padding-bottom:15px;
}
.ReddemedCouponsCountReports{
    font-size:16px;
    padding-bottom:15px;
    margin-top:5px;
}
.FeaturwiseReporticonimage{
    padding-bottom:15px;
}
.MessageReportIconimage{
    padding-bottom:15px;
}
.FanClubReporticonImg{
    padding-bottom:15px;
}
.LoginReportIconimg{
    padding-bottom:15px;
}
.CoinsEarnedReportSearch{
    padding-bottom:15px;
}
.Reports-coinsEarnedheader {
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    padding: 15px 0px 0px 0px;
    margin-bottom: 20px;
}
.Reports-coinsEarnedheader  h3{ 
border-bottom: 1px solid #e5e5e5;
    padding: 15px 15px;
    padding: 5px 18px 18px 18px;
    font-size:16px;
}
.Reprotsmainheaderselect{
    padding-left:15px;
}

.Reports-coinsEarnedheader1 {
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.Reports-coinsEarnedheader1  h3{ 
border-bottom: 1px solid #e5e5e5;
    padding: 19px 15px;
    font-size:16px;

}
.Reprotsmainheaderselect1{
    padding-left:15px;
}
.Reports-coinsEarnedheader2 {
    background-color: whitesmoke;
    border: 1px solid #e5e5e5;
}
.Reports-coinsEarnedheader2  h3{ 
border-bottom: 1px solid #e5e5e5;
    padding: 15px 15px;
}
.Reprotsmainheaderselect2{
    padding-left:15px;
}
.Reports-coinsEarnedheader3{
    background-color: whitesmoke;
    border: 1px solid #e5e5e5;
    margin-bottom: 16px;
}
.Reports-coinsEarnedheader3  h3{ 
/*border-bottom: 1px solid #e5e5e5;*/
    padding: 19px 15px;
    font-size:16px;
}
.Reprotsmainheaderselect3{
    padding-left:15px;
}

  .mrgTop27{
      margin-top:27px;
  }

.FontBold{
    font-weight: bold;
    color:#000;
}

.mrgTop32{
      margin-top:32px
}

.mrgTop33{
    margin-top:33px;
}

  .DownloadIcons{
      float:right;
  }
  .reportsMenu{
      border-left: 1px solid #e0e0e0;
  }



.RedeemeduserReportTable {
  width:100%;
  overflow:scroll;
}


.DwnldReports{
    color:#444;
    text-align: right;
    font-weight: 600;
  }


.AlignRight{
    float: right;
    padding-bottom: 15px;
}


.noselect{
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled){

    border-color: #783293;
}

























  @media only screen  and (min-width: 1700px) and (max-width: 1920px) {

.SubMenufanCOINSStepshsand{
     
    width:98%;
}

  }


  
@media only screen and (max-width: 1600px) and (min-width: 1500px)  {
.SubMenufanCOINSStepshsand{
     
    width:98%;
}


}

@media only screen  and (min-width: 1366px) and (max-width: 1500px) {
.SubMenufanCOINSStepshsand{
     
    width:98%;
}

}


@media screen and (min-width: 1024px) and (max-width: 1200px) {
     
      #fancoinstab1{
font-size:12px;

 }
 .Reportssidernav{
    width:178px !important;
        max-width: 200px !important;
    min-width: 0px !important;
}
  .fansCoinsConfigtabs .addbuttonColor{
color:#783293;
border-bottom: 2px solid #783293;
font-size:12px;


 }
 .fansCoinsConfigtabs p {
    cursor: pointer;
    font-size: 12px;
}

.fontWeightBoldExpry  
{
    margin-left:0;
}



.SubMenufanCOINSStepshsand{
     
    width:100%;
}

  }




@media only screen and (max-width: 1200px) and (min-width: 768px) {

.SubMenufanCOINSStepshsand{
     
    width:98%;
}

.TxtHeading{
     padding:10px;
     font-size: 13px; 
     color:#000;
}
 .Reportssidernav{
    width:170px !important;
        max-width: 170px !important;
    min-width: 0px !important;
}

}
