.createBtn {
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    font-size: 13px;
    margin-top:10px;
  
}

.createBtn .ant-btn{
  border:none !important;  
}

.Crudtabs .addbuttonColor{
color:#783293;
border-bottom: 2px solid #783293;
width:82px;

 }

 .Crudtabs p{
     font-size:14px;
font-weight:700;
 }
 .Crudtabs p{
     cursor:pointer;
 }

 #CrudTab1:hover ,#CrudTab1:hover{
     color:#733297;
     
}

.Crudmenu{
    padding: 20px 13px;
}

.Crudsubmenu{
    padding: 0px 30px;

}

.HandIcon{
    cursor: pointer;
}

.SubMenuCrud{
    
    background-color: #ffffff;
        height:auto;
        
}

.themecolorLink{
     color:#733297;
     font-size: 14px;
     font-weight:bold;
}

.deleteBtn{
    border:1px solid #B7B7B7 !important;   
    padding: 0 !important;
    border: none !important;
    color:#B7B7B7 !important;   
}

.deleteBtn:hover, .deleteBtn::before ,.deleteBtn::after{
    padding: 0 !important;
    border: none !important; 
    background: none !important;
    animation: none !important;
        color:#B7B7B7 !important;   
}

.GryIcon{
    color:#733297;
    font-size: 17px;
     margin-bottom: 5px;
     padding-right: 10px;
}

.GryIconDelet{
    color:#733297;
    margin-right:10px;
    padding-left:10px;
    font-size: 17px;
        border-left:1px solid #B7B7B7;
  }


  .ViewGryIconDelet{
    color:#733297;
    margin-right:10px;
    padding-left:10px;
    font-size: 17px;
    padding-right: 10px;
    border-right:1px solid #B7B7B7;
  }



  .ant-table-thead > tr.ant-table-row-hover >td , .ant-table-tbody > tr.ant-table-row-hover >td,
ant-table-thead > tr:hover >td, 
.ant-table-tbody >tr:hover > td{
background: #fff;
}

 .moviesTable .ant-table-thead > tr > th {
    background: white;
     color: grey;
    border-bottom: 1px solid #ededed;
}

.ThemeBgTabs .ant-tabs-nav .ant-tabs-tab:hover, .ant-tabs-nav .ant-tabs-tab-active{
    background-color: #f5f5f5;
}


.ThemeBgTabs {
    background-color: #fff !important ;
    padding:20px 20px;
}

.RightElmnt{
    float:right;
        margin-right: -27px !important;
}


.MovieModal .ant-modal-header{
border-bottom: none;
padding: 32px 16px 0 30px;
}


.MovieModal .ant-modal-body {
    padding: 3px 16px 16px 30px;

}


.BordrBottomSubTitle{
    border-bottom: 1px solid #f1eeee;
    padding-bottom: 10px;
}


.Mrgn4Youtube{
    margin:20px 0 0 0;
     border-bottom: 1px solid #f1eeee;
    padding:20px 0;
}


.CastCrewSubHeading{

 margin:20px 0 0 0;
        padding:20px 0;
}

.SocialMediaICons{
        border-bottom: 1px solid #f1eeee;
        padding-bottom:20px;
}


.VideoTxt{
      margin:20px 0;
      color:#000;
      padding-bottom: 10px;

}

.Padding20{
  padding: 20px 0;
}


.custom-image img {
  display: block;
}

.noborderRadius .custom-image img {
    border-radius: 0;

}


.custom-card {
  padding: 10px 16px;
}
.custom-card p {
  color: #999;
}


.MoviesModalBorder {
    margin: 20px 0;
    border:none !important;
    padding: 0 20px 0 0;

}


.MoviesPopuoImg img{
     height:190px;
    width:100%;
}
.MoviePopUpgalleryImgs{
       padding:20px 0;
}
.CreateDataAddUploadBtn{
    margin:15px 0px;
 border-top:1px solid #f5f5f5;
 padding:20px 0px;
}
.CreateData{
    background-color:#fff;
    padding:20px 40px;
    margin: 30px 0px 30px 0px;
}
.CreateDataHeader{
    border-bottom:1px solid #f5f5f5;
    margin:10px 0px;
      padding-bottom:15px;
}
.CreateDataRight{
    float:right;
}
.DatesOfcreateHead{
    float:right;
}
.SelectDataTypedrop1{
    padding:20px 0px;
}
.creativePagesContent{
    padding:25px 0px;
}
.SelectMovieGenreDrop{
    width:100% !important;
}
.CreatedataMovieRealse{
    margin:5px auto;
    padding-top:5px;
}
.CreateDataCelebrityinfo{
    padding-top:35px;
}
.CreateDataCelebrityBtn{
    padding-top:55px;
    padding-left:30px !important;;
}
.CreateDataCreativeType{
    width:100% !important;
}
.CreateDataResolution{
        width:100% !important;
}
.CreateDataAddFiles{
    float:right;
    background-color:transparent !important;
    color:#783293 !important;
}
.CreateDataAllfilesUpload .ant-upload-list {
 display: inline-block;
    width:300px !important;
    padding-left:30px;
}
/*.CreateDataAllfilesUpload .ant-upload-list-item.ant-upload-list-item-error{
    display: inline-block;
    width:300px !important;
}*/
.CreateDataTypeTagWords{
     background: #fff;
      border:1px solid #d9d9d9 !important;
      height:30px !important;
      width:71% !important;
      border-radius:0px !important;
      padding:0px !important;
      margin-right:0px !important;
}
.CreateDataTypeTagWords45{
    height:30px !important;
    margin-right:0px !important;
}
.CreateDataTagsCreativie{
    padding:20px 0px;
    }
.CreateDataBtnUploadFiles{
    padding:15px 0px;
}
.CreateCrudSelect{
    padding-bottom:30px;
}
.CreateCrudListimgs{
    width:40px;
    height:40px;
    border-radius:24px;
}
.CreateCurdListimgsss{
    border-top:1px solid #f5f5f5;
    padding:15px 0px;
}
.CreateCurdListimgsmain1{
    /*background-color:grey;*/
    color:#000;
    border-radius: 50px;
}
.CreateCrudimgsinfo{
    padding-top:10px;
}



.GreyTxt{
color:grey;
}


.TxtNormal{
    color: #1a173b;
}

.CreateDataCelebrityBtn .center-block{
background-color: transparent !important;
    color: #783293 !important;
    border-color:#783293 !important;
}
.CreateCrudsmainSteps{
    border-bottom:1px solid #f5f5f5;
    padding-bottom:20px;
}
.CreateCrudtaddAddbtn{
    position:absolute !important;
    height:30px !important;
    border-radius:0px !important;
}
.TagsCreadDtas{
    position:relative !important;
    left:10% !important;
    top:-20% !important;
}
.Creativebaby{
    display: inline;
    padding-left: 61px;
}
.CreateDataCastSaveIcons{
    font-size:22px;
}
.CreatemetaMainEditbtnss{
    padding-top:20px;
}
.cReateCastCrewloopimgs{
    width:50px;
    height:50px;
    border-radius:24px;
    border:1px solid #ccc;
}
.CasTcrewRoleNamess{
    padding-top:8px;
    font-size:13px;

}
.CastCrewEditnBtnss{
    padding-top:15px;
}
.CastCrewEDitIocns{
    cursor:pointer;
    padding-top:18px;
}
/*.CastCrewFormFields{
    padding-left:21px !important;
}*/
.AddCreativenewSession{
    font-size:14px;
    word-break: break-all;
}
.CreateCrudErrors{
    color:red;
}
.CreateDataCastCrewData{
    padding-top:30px;
}
.anticon-delete {
    font-size: 19px;
}
.anticon-save {
    font-size: 22px;
}
.anticon-edit {
    font-size: 21px;
}
.Aftersavecreativemeta {
    padding: 0px 0px 20px 0px;
}
.Editcreativepsontex {
    font-weight: 600;
    padding: 10px 0px 0px 0px;
    color: grey;
    font-size: 13px;
}
.moviesTable :nth-child(2){
    word-break: break-word;
}
@media (min-width: 1900px) and (max-width: 1920px){

.widthresponsive{
    width:1730px;
}
}


@media (min-width: 1600px) and (max-width: 1899px){

.widthresponsive{
    width:1435px;
}
}




@media (min-width: 1500px) and (max-width: 1599px){

.widthresponsive{
    width:1435px;
}
}


  @media (min-width: 1366px) and (max-width: 1499px){
      .CreatedataMovieRealse{
    padding-top:5px;
}

.widthresponsive{
    width:1160px;
}
.CreateDataTypeTagWords{
width:71% !important;
height:30px !important;
margin-top:0px;
}
.CreateCrudtaddAddbtn{
    top:0px;
}
.AddCastCrewimgs{
    padding-top:33px;
}
  }


@media (min-width: 1200px) and (max-width: 1365px){

.widthresponsive{
    width:1038px;
}

}


  @media (min-width: 1024px) and (max-width: 1199px){
   .CreateData   .ant-steps .ant-steps-title{
       font-size:12px;
   }
.CreateData{
    padding:20px 20px;
}
.widthresponsive{
    width:852px;
}
  }

