
.SubMenufun2winTabs{
      padding: 40px 40px 30px 0px;
    background-color: #ffffff;
    margin: 30px 12px 30px 12px;
    height: 670px;
        border: 1px solid #e5e5e5;
    
}

.clear{
    clear:both;
}

.CreatefunwinBlock{
    padding: 18px 7px 0px 24px;
   background-color: #ffffff; 
   border: 1px solid #e5e5e5;
   margin: 10px 14px 20px 30px;
    height:auto;
}

.RightAlignButn{
    float:right;
}


.paddingLftRht15{
        padding-left:15px;
    padding-right:15px;

}


.IconClose{
    color: #783293;
    font-size: 15px !important;
    cursor: pointer;
}

.floatRight{
    float: right;
}

.SubTxtOptions{
    font-size: 11px !important;
    font-weight: 700;
    color: #717171 !important;
}

.AddmoreQuestionsBtn{
    margin-top:35px;
    margin-left:30px;
}

.AddmoreBtn{
    color: #783293;
    border:1px solid #783293;
    border-radius: 0 !important;
}

.RadioBtnGrp{
    padding-bottom:20px;
}

.AddImageFun2Win {
    position: absolute;
    top: 18% !important;
    z-index: 1;
}

.IconPlusTheme{
       color: #783293 !important;
}

.Fun2WinaddAddbtn{
    position:absolute !important;
    height:32px !important;
    border-radius:0px !important;
    background: transparent !important;
     color: #783293 !important;
}


.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
    background-color: #4a4a4a !important;
    color:#fff;
    padding-left:10px !important;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
     padding-left:10px !important;
}

.QuestionTab .ant-tabs-bar{
border-bottom: 2px solid #4a4a4a;
width:87%;
}


.SaveFun2WinBtn {
    background-color: #783293 !important;
    border-color: #783293 !important;
    height: auto !important;
    padding: 8px 12px !important;
    font-size: 13px;
    float: right;
    margin-right:20px;
   
  
}

.SaveFun2WinBtn .ant-btn{
  border:none !important;  
}


.MrgnLeft70{
margin-left:70px;
}

.RightAlign{
    float: right;
}

.mrgnBottom25{
    margin-bottom: 25px;
}

.MrgnLeft80{
margin-left:80px;
}

.SearchRght{
    float: right;
    margin-top:15px;
    margin-left:20px;
}


.margintop15{
    margin-top: 15px;
}

.margintop20{
    margin-top:20px;
}

.MrgnLeft20{
    margin-left:20px;
}

.mrgLeft12{
    margin-left:12px;
}



.searchFun2win{
padding-top:13px;
}


.ViewDetailsBorderBox{
border:1px solid #f0f0f0;
padding:10px;
color:grey;
}


.MrgnBottom10{
    margin-bottom: 10px;
}

.redfinedRightQstn{
margin-left:40px !important;
}

.width70{
    width: 70%;
}


.mrgnRight25{
    margin-right: 25px;
}

.OptionsBox{
    height: 300px;
    overflow-y: scroll;
}

.Redfun2winQuestionType{
    padding-bottom:5%;
}
.Redfunmainadd{
    padding-top:25px;
}
.QuestionTab{
    padding-top:10px;
}    
.Redfun2winquestionsmedas{
margin-top:-36px;
}
.redsfun2winoptional{
margin-top:-36px;    
}
.Redfun2winsubques{
    padding-top:25px;
}
.redsubquestiontabs{
    padding-top:23px;
}
.RedsFunaddmoreoptns{
    float:right;
}
.redfun2winsoptnss{
    padding-top:25px;
}
.redfinedfun2intxtoptns{
    padding-right:37%;
}
.Redfinedtxtdelicon{
    float:right;
    font-size:15px;
}
.redotionlabel {
    padding: 0px 0px 10px 0px;
}
.redfinedfun2winstxtoptns{
    padding-left:19px;
    margin-bottom:18px;
}
.redfinedtexttypeoptions{
    padding-top:3%;
}
.redfinedimagetypeptionslabel{
    font-size: 11px !important;
    font-weight: 700;
    color: #717171 !important;
}
.redfinedarryimgsoptns{
    padding-top:25px;
}
.Refinedimagetypetopmainhead {
    padding: 0px 0px 18px 0px;
}
.AddImageFun2Winimagetype{
    position: absolute;
    top: 13% !important;
    z-index: 1;
}
.redinedfun2winimgdel {
    padding-left: 26%;
}
.redinedfun2winimgdel2 {
    padding-left: 30%;
}
.redfun2winimagedragdrop{
    padding-top:25px;
}
.Refinedfun2winfancoinss {
    padding-bottom: 20px;
}
.Refinedfun2winBonuscoinss {
    padding-bottom: 20px;
}
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:60%;
} 
.Refinedfun2winfancoinss .ant-input-number {
    width:60%;
} 
.Redfun2winTopselects{
    padding-right:25px;
    padding-top: 13px;
}
.redfinedfundashselects .ant-select-dropdown{
    width:190px !important;
}

.redfinedrunningselectors {
    padding-right: 20px;
    padding-top: 13px;
}
.questionpackfun2inofs{
    word-break: break-all;
}
.Redfunviewotions{
    padding:8px 5px 10px 0px;
}
.Redfunviewotionsanswer{
   padding:8px 5px 10px 0px;  
}
.fun2win-imganswer img{
    height:130px;
    width:130px;
    float:right;
}
.refnquestionanswertype{
padding: 0px 35px 15px 0px;
}
.redfnContentpackquestionsss{
    padding:15px 0px 0px 0px;
}
.Editredfuntext{
    padding-top:15px;
}
.fun2winpartcount{
    width:17px;
    height:auto;
}
.funwincounticonss {
    color: rgba(49, 70, 88, 0.7);
}
.Fun2winiconmain{
    width:23%;
}
.fun2winfanccountli{
    padding:0px 0px 0px 0px !important;
}
.fun2winiconsstatuscount{
    height:18px;
}
.fun2wineasy{
    color:yellow;
}
.fun2winmedium{
    color:orange;
}
.fun2winhard{
    color:red;
}
.fun2winrapidfire{
    color:blue;
}
.fun2wincreatetype{
    float:right;
}
.fun2winpageTitle{
    font-size: 15px;
color: #000 !important;
font-weight: 600 !important;
padding: 17px 0px 0px 0px;
}
.fun2winSubmenus {
    padding: 0px 13px 0px 13px;
}
.createfun2winNavigations{
    float:right;
    padding:12px 0px 0px 0px;
}

.fun2winsearchfilmain{
    float:right;
}
@media (min-width: 1900px) and (max-width: 1920px){
.Refinedimagetypetopmainhead {
    padding: 0px 0px 9px 0px;
}
.AddImageFun2Win {
    top: 36% !important;
}
.redinedfun2winimgdel2 {
    padding-left: 31%;
}
.AddImageFun2Winimagetype {
    top: 17% !important;
}
.redinedfun2winimgdel {
    padding-left: 26%;
}
.redfinedfun2intxtoptns {
    padding-right: 21%;
}
.Refinedfun2winfancoinss .ant-input-number {
    width:50%;
} 
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:50%;
} 
}


@media (min-width: 1600px) and (max-width: 1899px){
.Refinedimagetypetopmainhead {
    padding: 0px 0px 9px 0px;
}
.AddImageFun2Win {
    top: 36% !important;
}
.redinedfun2winimgdel2 {
    padding-left: 39%;
}
.AddImageFun2Winimagetype {
    top: 17% !important;
}
.redinedfun2winimgdel {
    padding-left: 31%;
}
.redfinedfun2intxtoptns {
    padding-right: 21%;
}

.Refinedfun2winfancoinss .ant-input-number {
    width:50%;
} 
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:50%;
} 
}




@media (min-width: 1500px) and (max-width: 1599px){
.Refinedimagetypetopmainhead {
    padding: 0px 0px 9px 0px;
}
.AddImageFun2Win {
    top: 36% !important;
}
.redinedfun2winimgdel2 {
    padding-left: 39%;
}
.AddImageFun2Winimagetype {
    top: 17% !important;
}
.redinedfun2winimgdel {
    padding-left: 31%;
}
.redfinedfun2intxtoptns {
    padding-right: 21%;
}
.Refinedfun2winfancoinss .ant-input-number {
    width:50%;
} 
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:50%;
} 

}


  @media (min-width: 1366px) and (max-width: 1499px){
/*.searchFun2win{
margin-top:15px;
margin-left:50px;
}*/
.Refinedimagetypetopmainhead {
    padding: 0px 0px 9px 0px;
}
.AddImageFun2Win {
    top: 36% !important;
}
.redinedfun2winimgdel2 {
    padding-left: 39%;
}
.AddImageFun2Winimagetype {
    top: 17% !important;
}
.redinedfun2winimgdel {
    padding-left: 31%;
}
.redfinedfun2intxtoptns {
    padding-right: 21%;
}
.Refinedfun2winfancoinss .ant-input-number {
    width:50%;
} 
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:50%;
} 
.redfinedfundashselects .ant-select-dropdown{
    width:120px !important;
}
/*.redefineddshfirstselec{
    margin-left:-16px;
}*/
.Redfun2winTopselects{
padding-right:17px;
}



  }


@media (min-width: 1200px) and (max-width: 1365px){
.redfinedfun2intxtoptns {
    padding-right: 17%;
}
.AddImageFun2Win {
    top: 35% !important;
}
.AddImageFun2Winimagetype {
    top: 17% !important;
}
.redinedfun2winimgdel2 {
    padding-left: 44%;
}
.redinedfun2winimgdel {
    padding-left: 36%;
}
.Refinedimagetypetopmainhead {
    padding: 0px 0px 10px 0px;
}
.Refinedfun2winfancoinss .ant-input-number {
    width:50%;
} 
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:50%;
} 
.fun2winSubMenu .pageTitle {
    font-size: 13px;
}
/*.redefineddshfirstselec{
    margin-left:-20px;
}*/
.Redfun2winTopselects {
    padding-right: 14px;
}
.redfinedfundashselects .ant-select-dropdown{
    width:115px !important;
}
.RedfinedmainRunningselec{
    margin-left:-16px;
}
.redefinfunmainsubheader .fun2winNavigations .item{
    padding-right:20px;
}
}


  @media (min-width: 1024px) and (max-width: 1199px){
.redfinedfun2intxtoptns {
    padding-right: 12%;
}
.AddImageFun2Win {
    top: 35% !important;
}
.redinedfun2winimgdel {
    padding-left: 27%;
}
.AddImageFun2Winimagetype {
    top: 16% !important;
}
.Refinedimagetypetopmainhead {
    padding: 0px 0px 8px 0px;
}
.redinedfun2winimgdel2 {
    padding-left: 32%;
}
.smallRefinedimagetypetopmainhead {
    padding: 0px 0px 25px 0px;
}
.redfun2winsubmenu .pageTitle {
    font-size: 13px;
  }
  .redfun2winmainheader .mrgLeft30{
margin-left:0px !important;
  }
  .Refinedfun2winfancoinss .ant-input-number {
    width:50%;
} 
.Refinedfun2winBonuscoinss  .ant-input-number {
    width:50%;
} 
.fun2winSubMenu .pageTitle {
    font-size: 12px;
    display:none;
}
/*.redefineddshfirstselec {
    margin-left: -8%;
}*/
.redfinedcreatebtnss{
    font-size:11px;
}
.Redfun2winTopselects {
    padding-right: 11px;
}
.redfinedfundashselects .ant-select-dropdown{
    width:100px !important;
}
.redfinedrunningselectors{
padding-right:12px;
}
.RedfinedmainRunningselec{
    margin-left:-8%;
}
.redefinfunmainsubheader .fun2winNavigations .item{
    padding-right:14px;
}
  }