.SocialmediaHeader{
    padding: 7px 20px;
    background-color: #ffffff;
    margin: 10px 0px;
    height: 70px;
    border: 1px solid #e5e5e5;
}
.SocialTabs{
    background-color:#fff;
    margin: 30px 13px 20px 13px;
    border: 1px solid #e5e5e5;
}
.Socialpostcbtn{
    float:right;
    margin-top:13px;
}
.SocialMpostsTable .ant-table-thead > tr > th {
        font-weight: 700;
    background-color: #fff !important;
    border-bottom: 2px solid #f7f7f7;
}
.CreateSocialpobody{
   padding: 40px 40px 30px 25px;
    background-color: #ffffff;
    margin: 10px 12px 30px 12px;
    border: 1px solid #e5e5e5;
}
.CreateDataTypeTagWords45{
    height:30px !important;
    margin-right:0px !important;
}
.CreateSocialmpostysTag .CreateDataTypeTagWords{
     background: #fff;
      border:1px solid #d9d9d9 !important;
      height:30px !important;
      width:26% !important;
      border-radius:0px !important;
      padding:0px !important;
      margin-right:0px !important;
      padding-left:10px !important;
      text-align:left;
}
.Socialmedporefinput{
    width:26% !important;
     height:30px !important;
}
.SocialmSelect{
    width:100% !important;
   padding-top: 13px;
}
.SocialmSelectcols {
    margin-right: 22px;
}
.SocialmediaHeader h5{
    padding-top:17px;
    color:#000;
    font-weight:500;
    font-size:14px;
}
.SocialMTopbars {
   padding: 21px 13px 0px 13px;
}
.SocialMSelectChannel{
    width:100%;
}
.SocialmediaViewpop a{
    color:#783293 !important;
    /*text-decoration:underline !important;*/
    outline:none !important;
}

.SocialTabs .ant-tabs-nav-wrap{
    padding: 20px 0px 0px 21px;
}
.Socialmediaposstsviewtitle{
    color:grey;
}
.SocialmediaposstsviewExDate{
       color:grey; 
}
.SocialmediaposstsviewLocation{
     color:grey; 
}
.SocialmPostsViewtitlemain {
    padding: 10px 0px 5px 0px;
}
.SocialmPostsViewExpiryDmain {
    padding: 5px 0px 5px 0px;
}
/*.SocialTabs .ant-tabs-tab {
    width: 100%;
}*/
/*.SocialTabs .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    width:100% !important;
}*/
/*.SocialTabs .ant-tabs-ink-bar.ant-tabs-ink-bar-animated:hover {
    width: 100% !important;
}*/
/*.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  background: red;
  border-color:red !important;
}
.ant-tabs-nav .ant-tabs-tab:hover, .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #fff !important;
    border-bottom:1px solid red !important;
}*/
.ThemeBgTabs .ant-tabs-nav .ant-tabs-tab:hover, .ant-tabs-nav .ant-tabs-tab-active {
background-color:red;
}
.SocialmediaViewpop{
    color:#783293 !important;
    padding-left:7px;
}
.SocialPostsCreatepriew{
    padding:25px 10px 10px 10px;
    border:1px solid #e5e5e5;
    margin-top:25px;
}
.SocialMpostsTable{
    padding:0px 11px  0px 11px;
}
.Seleclocationsocialposts .ant-select-selection {
    border-radius: 0px;
    height: 35px;
    overflow-y: scroll;
}
.SocialMpostsTable td:nth-child(1){
width:8%;
}
.SocialMpostsTable td:nth-child(2){
width:8%;
}
.SocialMpostsTable td:nth-child(3){
width:20%;
}
.SocialMpostsTable td:nth-child(4){
width:20%;
padding-right:20px;
}
.SocialMpostsTable td:nth-child(5){
width:8%;
}
.SocialMpostsTable td:nth-child(6){
width:6%;
}
.Slectssocialchannelmain1{
    padding-bottom:10px;
}
.SocialMeditasCreatPreview{
    padding-top:25px;
}
.twituseridss{
    padding-top:8px;
    font-weight:600;
}
.socialpostsviewi ,.socialpostsediti ,.socialpostsdeli{
    font-size:18px !important;
}
@media (min-width: 1600px) and (max-width: 1920px){

}

@media (min-width: 1366px) and (max-width: 1600px){
}
@media (min-width: 1200px) and (max-width: 1365px){
.SocialmediaViewpop{
    padding-left:5px;
}
}

@media (min-width: 1024px) and (max-width: 1199px){
.SocialMpostsTable td:nth-child(4){
width:22%;
}
.SocialMpostsTable td:nth-child(1){
width:8%;
}
.SocialMpostsTable td:nth-child(2){
width:8%;
}
.SocialMpostsTable td:nth-child(3){
width:20%;
}
.SocialMpostsTable td:nth-child(4){
width:20%;
padding-right:20px;
}
.SocialMpostsTable td:nth-child(5){
width:8%;
}
.SocialMpostsTable td:nth-child(6){
width:8%;
}
}

